In [ ]:
!pip install catboost

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/20/37/bc4e0ddc30c07a96482abf1de7ed1ca54e59bba2026a33bca6d2ef286e5b/catboost-0.24.4-cp36-none-manylinux1_x86_64.whl (65.7MB)
     |████████████████████████████████| 65.8MB 68kB/s
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.8.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Installing collected packages: catboost
Successfully installed catboost-0.24.4

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stat
pd.set_option('display.max_columns', None)
%matplotlib inline

### Feature Processing
from sklearn.preprocessing import StandardScaler
from datetime import datetime
from dateutil import relativedelta
from sklearn.preprocessing import LabelEncoder

### Feature Selection Techniques
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.feature_selection import mutual_info_classif
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
from sklearn.feature_selection import VarianceThreshold

### Train Test Split
from sklearn.model_selection import train_test_split

### Model Building
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb
from xgboost import  XGBClassifier
from sklearn.ensemble import GradientBoostingClassifier
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier

### Metrics
import sklearn.metrics as metrics

### Hyper Paramter Optimization
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import RandomizedSearchCV

### Loading and Saving Model
import pickle

### Ensemble Technique - Combining Multiple models
## We call the algorithms like this way

## Then we use Voting Classifier for ensemble learning:
from sklearn.ensemble import VotingClassifier

# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout
import tensorflow as tf

from keras import backend as K
import re

In [ ]:
train_dataset = pd.read_excel('/content/drive/MyDrive/LTFS_Top_up/Final/Final Dataset for Training/train_data_final_bur_combined_rank_cat_enc.xlsx')
train_dataset.head()

,Unnamed: 0,PaymentMode,BranchID,Tenure,AssetCost,AmountFinance,EMI,ManufacturerID,SupplierID,AGE,MonthlyIncome,State,ZiPCODE,top_up_class,Frequency_Half Yearly,Frequency_Monthly,Frequency_Quatrly,InstlmentMode_Arrear,LoanStatus_Closed,SEX_M,ID,DISBURSED-AMT/HIGH CREDIT_Median,INSTALLMENT-AMT_Median,CURRENT-BAL_Median,OVERDUE-AMT_Median,WRITE-OFF-AMT_Median,TENURE_Median,SELF-INDICATOR_Bureau_Traits_Total_Count,SELF-INDICATOR_Top_value,SELF-INDICATOR_Top_value_freq,SELF-INDICATOR_unique_values,MATCH-TYPE_Top_value,MATCH-TYPE_Top_value_freq,MATCH-TYPE_unique_values,ACCT-TYPE_Unique_count,ACCT-TYPE_Top_value,ACCT-TYPE_Top_value_freq,ACCT-TYPE_unique_values,CONTRIBUTOR-TYPE_Unique_count,CONTRIBUTOR-TYPE_Top_value,CONTRIBUTOR-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_unique_values,OWNERSHIP-IND_Unique_count,OWNERSHIP-IND_Top_value,OWNERSHIP-IND_Top_value_freq,OWNERSHIP-IND_unique_values,ACCOUNT-STATUS_Unique_count,ACCOUNT-STATUS_Top_value,ACCOUNT-STATUS_Top_value_freq,ACCOUNT-STATUS_unique_values,DPD_Hist_Median_Median,CUR BAL-Hist_Median_Median,AMT OVERDUE - HIST_Median_Median,AMT PAID - HIST_Median_Median
0,0,0.186877,1,48,450000,275000.0,24000.0,1568,21946,49,35833.33,0.425187,464993,1,0,1,0,1,1,1,1,275000.0,0.0,0.0,0.0,0.0,0.0,9,1,5,1,1,9,1,4,7,5,482,2,1,5,2,1,1,9,1,3,1,5,4,0.0,125115.50,615.0,0.0
1,1,0.255776,333,47,485000,350000.0,10500.0,1062,34802,23,666.67,0.425187,466001,0,0,1,0,0,1,1,2,700000.0,0.0,52421.0,0.0,0.0,35.0,13,2,12,1,1,13,1,7,10,4,6112,2,1,7,3,2,1,9,3,2,2,7,1,0.0,334547.50,0.0,0.0
2,2,0.668451,1,68,690000,519728.0,38300.0,1060,127335,39,45257.00,0.425187,462030,6,0,0,1,1,0,1,3,44000.0,0.0,0.0,0.0,0.0,0.0,31,2,29,1,1,31,1,8,2,8,7776,5,3,13,55,3,1,26,4,3,1,19,4,0.0,30303.00,0.0,0.0
3,3,0.168888,125,48,480000,400000.0,11600.0,1060,25094,24,20833.33,0.425187,473335,1,0,1,0,0,1,1,7,315000.0,0.0,0.0,0.0,0.0,5.0,4,1,2,1,1,4,1,2,1,3,19,1,1,4,1,1,1,4,1,2,1,2,1,0.0,195207.75,0.0,0.0
4,4,0.168888,152,44,619265,440000.0,15000.0,1046,21853,56,27313.67,0.269824,495442,2,0,1,0,1,1,1,8,200000.0,0.0,6989.0,0.0,0.0,42.0,7,2,6,1,1,7,1,3,1,4,162,3,1,4,4,3,1,3,4,4,2,3,45,0.0,172109.00,0.0,0.0

In [ ]:
train_dataset = train_dataset.iloc[:,1:]
train_dataset.head()

In [ ]:
test_dataset = pd.read_excel('/content/drive/MyDrive/LTFS_Top_up/Final/Final Dataset for Training/test_data_final_bur_combined_rank_cat_enc.xlsx')
test_dataset.head()

In [ ]:
test_dataset = test_dataset.iloc[:,1:]
test_dataset.head()

In [ ]:
display(train_dataset.head())
display(test_dataset.head())

,PaymentMode,BranchID,Tenure,AssetCost,AmountFinance,EMI,ManufacturerID,SupplierID,AGE,MonthlyIncome,State,ZiPCODE,top_up_class,Frequency_Half Yearly,Frequency_Monthly,Frequency_Quatrly,InstlmentMode_Arrear,LoanStatus_Closed,SEX_M,ID,DISBURSED-AMT/HIGH CREDIT_Median,INSTALLMENT-AMT_Median,CURRENT-BAL_Median,OVERDUE-AMT_Median,WRITE-OFF-AMT_Median,TENURE_Median,SELF-INDICATOR_Bureau_Traits_Total_Count,SELF-INDICATOR_Top_value,SELF-INDICATOR_Top_value_freq,SELF-INDICATOR_unique_values,MATCH-TYPE_Top_value,MATCH-TYPE_Top_value_freq,MATCH-TYPE_unique_values,ACCT-TYPE_Unique_count,ACCT-TYPE_Top_value,ACCT-TYPE_Top_value_freq,ACCT-TYPE_unique_values,CONTRIBUTOR-TYPE_Unique_count,CONTRIBUTOR-TYPE_Top_value,CONTRIBUTOR-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_unique_values,OWNERSHIP-IND_Unique_count,OWNERSHIP-IND_Top_value,OWNERSHIP-IND_Top_value_freq,OWNERSHIP-IND_unique_values,ACCOUNT-STATUS_Unique_count,ACCOUNT-STATUS_Top_value,ACCOUNT-STATUS_Top_value_freq,ACCOUNT-STATUS_unique_values,DPD_Hist_Median_Median,CUR BAL-Hist_Median_Median,AMT OVERDUE - HIST_Median_Median,AMT PAID - HIST_Median_Median
0,0.186877,1,48,450000,275000.0,24000.0,1568,21946,49,35833.33,0.425187,464993,1,0,1,0,1,1,1,1,275000.0,0.0,0.0,0.0,0.0,0.0,9,1,5,1,1,9,1,4,7,5,482,2,1,5,2,1,1,9,1,3,1,5,4,0.0,125115.50,615.0,0.0
1,0.255776,333,47,485000,350000.0,10500.0,1062,34802,23,666.67,0.425187,466001,0,0,1,0,0,1,1,2,700000.0,0.0,52421.0,0.0,0.0,35.0,13,2,12,1,1,13,1,7,10,4,6112,2,1,7,3,2,1,9,3,2,2,7,1,0.0,334547.50,0.0,0.0
2,0.668451,1,68,690000,519728.0,38300.0,1060,127335,39,45257.00,0.425187,462030,6,0,0,1,1,0,1,3,44000.0,0.0,0.0,0.0,0.0,0.0,31,2,29,1,1,31,1,8,2,8,7776,5,3,13,55,3,1,26,4,3,1,19,4,0.0,30303.00,0.0,0.0
3,0.168888,125,48,480000,400000.0,11600.0,1060,25094,24,20833.33,0.425187,473335,1,0,1,0,0,1,1,7,315000.0,0.0,0.0,0.0,0.0,5.0,4,1,2,1,1,4,1,2,1,3,19,1,1,4,1,1,1,4,1,2,1,2,1,0.0,195207.75,0.0,0.0
4,0.168888,152,44,619265,440000.0,15000.0,1046,21853,56,27313.67,0.269824,495442,2,0,1,0,1,1,1,8,200000.0,0.0,6989.0,0.0,0.0,42.0,7,2,6,1,1,7,1,3,1,4,162,3,1,4,4,3,1,3,4,4,2,3,45,0.0,172109.00,0.0,0.0

,PaymentMode,BranchID,Tenure,AssetCost,AmountFinance,EMI,ManufacturerID,SupplierID,AGE,MonthlyIncome,State,ZiPCODE,Frequency_Half Yearly,Frequency_Monthly,Frequency_Quatrly,InstlmentMode_Arrear,LoanStatus_Closed,SEX_M,ID,DISBURSED-AMT/HIGH CREDIT_Median,INSTALLMENT-AMT_Median,CURRENT-BAL_Median,OVERDUE-AMT_Median,WRITE-OFF-AMT_Median,TENURE_Median,SELF-INDICATOR_Bureau_Traits_Total_Count,SELF-INDICATOR_Top_value,SELF-INDICATOR_Top_value_freq,SELF-INDICATOR_unique_values,MATCH-TYPE_Top_value,MATCH-TYPE_Top_value_freq,MATCH-TYPE_unique_values,ACCT-TYPE_Unique_count,ACCT-TYPE_Top_value,ACCT-TYPE_Top_value_freq,ACCT-TYPE_unique_values,CONTRIBUTOR-TYPE_Unique_count,CONTRIBUTOR-TYPE_Top_value,CONTRIBUTOR-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_unique_values,OWNERSHIP-IND_Unique_count,OWNERSHIP-IND_Top_value,OWNERSHIP-IND_Top_value_freq,OWNERSHIP-IND_unique_values,ACCOUNT-STATUS_Unique_count,ACCOUNT-STATUS_Top_value,ACCOUNT-STATUS_Top_value_freq,ACCOUNT-STATUS_unique_values,DPD_Hist_Median_Median,CUR BAL-Hist_Median_Median,AMT OVERDUE - HIST_Median_Median,AMT PAID - HIST_Median_Median
0,0.186877,2,46,480000,365000.0,1000.0,1046,22354,50,32069.00,0.425187,473001,0,1,0,0,1,1,4,232000.0,611.5,42023.5,0.0,0.0,60.0,4,2,3,1,1,4,1,4,1,1,2431,3,6,2,79,2,1,2,2,2,2,3,1,0.0,132597.5,0.0,0.0
1,0.255776,2,45,480000,285000.0,9300.0,1046,22354,35,25000.00,0.425187,473001,0,1,0,0,1,1,5,106008.0,0.0,0.0,0.0,0.0,0.0,8,2,7,1,1,8,1,5,2,3,1315,4,1,3,64,2,1,6,2,2,1,6,1,0.0,98453.5,0.0,0.0
2,0.255776,2,48,580000,400000.0,35800.0,1060,65929,37,23333.33,0.425187,473001,0,0,1,1,1,1,6,230000.0,0.0,0.0,0.0,0.0,9.5,12,2,10,1,1,12,1,4,7,7,318,2,1,11,3,3,1,6,4,2,1,11,1,0.0,22018.0,0.0,0.0
3,0.168888,154,36,725000,500000.0,52000.0,1049,68597,55,91666.67,0.269824,493558,1,0,0,1,1,1,25,400000.0,0.0,63796.5,0.0,0.0,0.0,2,1,1,1,1,2,1,2,3,1,2,2,1,1,2,1,1,2,1,2,2,1,1,0.0,139003.0,0.0,0.0
4,0.255776,194,48,617000,400000.0,35400.0,1049,38493,48,12500.00,0.430084,754137,0,0,1,1,1,1,119,465000.0,8000.0,58100.0,0.0,0.0,23.0,2,1,1,1,1,2,1,2,7,1,5,1,1,2,1,2,2,1,3,2,2,1,1,0.0,254296.0,0.0,265000.0

In [ ]:
train_dataset.shape , test_dataset.shape

((128654, 53), (14745, 52))

In [ ]:
y = train_dataset['top_up_class']
X = train_dataset.drop('top_up_class',axis=1)
print(X.shape,y.shape)

(128654, 52) (128654,)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(102923, 52) (25731, 52) (102923,) (25731,)

In [ ]:
sc = StandardScaler()
X_train_st = sc.fit_transform(X_train)
X_test_st = sc.transform(X_test)

In [ ]:
estimators_st = {
    'Logistic Regression': [LogisticRegression()],
    'KNN' :[KNeighborsClassifier()],
    'Decision Tree' :[DecisionTreeClassifier()],
    'Random Forest' :[RandomForestClassifier()],
    'Gradient Boosting':[GradientBoostingClassifier()],
    'XG Boost': [XGBClassifier()],
    'LGBM':[LGBMClassifier()],
    'Cat Boost':[CatBoostClassifier(verbose=0, n_estimators=1000)],
}

#writing a function to fit models above to the train dataset
def mfit(estimators_st, X_train, y_train):
    for m in estimators_st:
        estimators_st[m][0].fit(X_train, y_train)
        print(m+' fitted')

mfit(estimators_st, X_train_st, y_train)

def mpredict(estimators_st, X_test_st, y_test):
    outcome = dict()
    for m in estimators_st:
        y_pred = estimators_st[m][0].predict(X_test_st)
        outcome[m] = [metrics.f1_score(y_test,y_pred,average='macro'),
                      metrics.accuracy_score(y_test,y_pred),
                      metrics.classification_report(y_test,y_pred)]
    return outcome


outcome_st = mpredict(estimators_st, X_test_st, y_test)

for m in outcome_st:
    print('------------------------'+m+'------------------------')
    print('F1 Score', round(outcome_st[m][0],4))
    print('Accuracy Score', round(outcome_st[m][1],4))
    print('Classification report \n ')
    print(outcome_st[m][2])
    print('\n')

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Logistic Regression fitted
KNN fitted
Decision Tree fitted
Random Forest fitted
Gradient Boosting fitted
XG Boost fitted
LGBM fitted
Cat Boost fitted

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

------------------------Logistic Regression------------------------
F1 Score 0.1725
Accuracy Score 0.8284
Classification report

              precision    recall  f1-score   support

           0       0.84      0.99      0.91     21279
           1       0.45      0.11      0.18      1642
           2       0.00      0.00      0.00       761
           3       0.28      0.03      0.05       683
           4       0.62      0.01      0.01       663
           5       0.29      0.03      0.05       502
           6       0.00      0.00      0.00       201

    accuracy                           0.83     25731
   macro avg       0.36      0.17      0.17     25731
weighted avg       0.75      0.83      0.77     25731



------------------------KNN------------------------
F1 Score 0.2017
Accuracy Score 0.8237
Classification report

              precision    recall  f1-score   support

           0       0.85      0.98      0.91     21279
           1       0.41      0.20      0.26      1642
           2       0.18      0.03      0.05       761
           3       0.21      0.05      0.08       683
           4       0.23      0.03      0.06       663
           5       0.28      0.03      0.05       502
           6       0.00      0.00      0.00       201

    accuracy                           0.82     25731
   macro avg       0.31      0.19      0.20     25731
weighted avg       0.75      0.82      0.77     25731



------------------------Decision Tree------------------------
F1 Score 0.2731
Accuracy Score 0.7565
Classification report

              precision    recall  f1-score   support

           0       0.89      0.87      0.88     21279
           1       0.29      0.33      0.31      1642
           2       0.10      0.11      0.10       761
           3       0.19      0.22      0.21       683
           4       0.17      0.18      0.17       663
           5       0.16      0.17      0.16       502
           6       0.07      0.08      0.08       201

    accuracy                           0.76     25731
   macro avg       0.27      0.28      0.27     25731
weighted avg       0.77      0.76      0.76     25731



------------------------Random Forest------------------------
F1 Score 0.2659
Accuracy Score 0.8449
Classification report

              precision    recall  f1-score   support

           0       0.85      0.99      0.92     21279
           1       0.65      0.23      0.33      1642
           2       0.49      0.03      0.05       761
           3       0.56      0.12      0.20       683
           4       0.54      0.09      0.16       663
           5       0.54      0.10      0.17       502
           6       0.30      0.01      0.03       201

    accuracy                           0.84     25731
   macro avg       0.56      0.23      0.27     25731
weighted avg       0.80      0.84      0.80     25731



------------------------Gradient Boosting------------------------
F1 Score 0.2664
Accuracy Score 0.8429
Classification report

              precision    recall  f1-score   support

           0       0.86      0.99      0.92     21279
           1       0.61      0.24      0.34      1642
           2       0.38      0.01      0.03       761
           3       0.56      0.13      0.21       683
           4       0.54      0.10      0.17       663
           5       0.46      0.10      0.17       502
           6       0.20      0.02      0.04       201

    accuracy                           0.84     25731
   macro avg       0.51      0.23      0.27     25731
weighted avg       0.80      0.84      0.80     25731



------------------------XG Boost------------------------
F1 Score 0.2084
Accuracy Score 0.838
Classification report

              precision    recall  f1-score   support

           0       0.84      1.00      0.91     21279
           1       0.65      0.18      0.28      1642
           2       0.00      0.00      0.00       761
           3       0.64      0.05      0.09       683
           4       0.60      0.03      0.06       663
           5       0.57      0.05      0.09       502
           6       0.40      0.01      0.02       201

    accuracy                           0.84     25731
   macro avg       0.53      0.19      0.21     25731
weighted avg       0.78      0.84      0.78     25731



------------------------LGBM------------------------
F1 Score 0.3307
Accuracy Score 0.8493
Classification report

              precision    recall  f1-score   support

           0       0.87      0.99      0.92     21279
           1       0.60      0.31      0.41      1642
           2       0.42      0.05      0.08       761
           3       0.53      0.18      0.27       683
           4       0.57      0.14      0.23       663
           5       0.51      0.18      0.27       502
           6       0.38      0.08      0.14       201

    accuracy                           0.85     25731
   macro avg       0.55      0.28      0.33     25731
weighted avg       0.81      0.85      0.81     25731



------------------------Cat Boost------------------------
F1 Score 0.3122
Accuracy Score 0.8477
Classification report

              precision    recall  f1-score   support

           0       0.87      0.99      0.92     21279
           1       0.59      0.32      0.41      1642
           2       0.38      0.04      0.07       761
           3       0.45      0.16      0.23       683
           4       0.49      0.14      0.21       663
           5       0.45      0.17      0.24       502
           6       0.42      0.05      0.09       201

    accuracy                           0.85     25731
   macro avg       0.52      0.26      0.31     25731
weighted avg       0.80      0.85      0.81     25731

### Combined Model

In [ ]:
dt = DecisionTreeClassifier(criterion='entropy',max_depth=30)
knn = KNeighborsClassifier(n_neighbors=1 , weights ='distance' ,metric='minkowski')
rf=RandomForestClassifier(max_depth=30,max_features='auto',min_samples_leaf=5,min_samples_split=15,n_estimators=100)

Ens = VotingClassifier( 
    estimators= [('DecisionTreeClassifier',dt),('KNeighborsClassifier',knn),('RandomForestClassifier',rf)],voting='soft')

## Training the Ensemble learning:
Ens= Ens.fit(X_train_st , y_train)

y_pred = Ens.predict(X_test_st)
print('------------------------COMBINED MODEL------------------------')
print('F1 Score', metrics.f1_score(y_test,y_pred,average='macro'))
print('Accuracy Score', metrics.accuracy_score(y_test,y_pred))
print('Classification report \n ')
print(metrics.classification_report(y_test,y_pred))
print('\n')

------------------------COMBINED MODEL------------------------
F1 Score 0.2681212916708842
Accuracy Score 0.826240721308927
Classification report

              precision    recall  f1-score   support

           0       0.86      0.97      0.91     21279
           1       0.46      0.26      0.33      1642
           2       0.19      0.06      0.09       761
           3       0.30      0.16      0.21       683
           4       0.30      0.10      0.16       663
           5       0.34      0.11      0.17       502
           6       0.18      0.01      0.02       201

    accuracy                           0.83     25731
   macro avg       0.38      0.24      0.27     25731
weighted avg       0.77      0.83      0.79     25731

### ANN Model

In [ ]:
y_train_encc = tf.keras.utils.to_categorical(y_train, 7)
y_test_encc = tf.keras.utils.to_categorical(y_test, 7)

print(y_train_encc.shape,y_test_encc.shape)

(102923, 7) (25731, 7)

In [ ]:
def get_f1(y_true, y_pred): #taken from old keras source code
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
    predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))
    precision = true_positives / (predicted_positives + K.epsilon())
    recall = true_positives / (possible_positives + K.epsilon())
    f1_val = 2*(precision*recall)/(precision+recall+K.epsilon())
    return f1_val

# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(units = 50, kernel_initializer = 'he_uniform',activation='relu',input_dim = 52))

# Adding the second hidden layer
classifier.add(Dense(units = 25, kernel_initializer = 'he_uniform',activation='relu'))

# Adding the third hidden layer
classifier.add(Dense(units = 50, kernel_initializer = 'he_uniform',activation='relu'))
# Adding the output layer
classifier.add(Dense(units = 7, kernel_initializer = 'he_uniform',activation='softmax'))

# Compiling the ANN
classifier.compile(loss='categorical_crossentropy', optimizer='adam', metrics=[get_f1])
classifier.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 50)                2650
_________________________________________________________________
dense_5 (Dense)              (None, 25)                1275
_________________________________________________________________
dense_6 (Dense)              (None, 50)                1300
_________________________________________________________________
dense_7 (Dense)              (None, 7)                 357
=================================================================
Total params: 5,582
Trainable params: 5,582
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Fitting the ANN to the Training set
model_history=classifier.fit(X_train_st, y_train_encc,validation_split=0.20, batch_size = 10, epochs = 100)

Epoch 1/100
8234/8234 [==============================] - 32s 4ms/step - loss: 0.6750 - get_f1: 0.7995 - val_loss: 0.5591 - val_get_f1: 0.8347
Epoch 2/100
8234/8234 [==============================] - 29s 4ms/step - loss: 0.5622 - get_f1: 0.8334 - val_loss: 0.5516 - val_get_f1: 0.8403
Epoch 3/100
8234/8234 [==============================] - 29s 4ms/step - loss: 0.5491 - get_f1: 0.8364 - val_loss: 0.5491 - val_get_f1: 0.8333
Epoch 4/100
8234/8234 [==============================] - 29s 4ms/step - loss: 0.5383 - get_f1: 0.8387 - val_loss: 0.5370 - val_get_f1: 0.8416
Epoch 5/100
8234/8234 [==============================] - 29s 4ms/step - loss: 0.5388 - get_f1: 0.8374 - val_loss: 0.5380 - val_get_f1: 0.8396
Epoch 6/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.5283 - get_f1: 0.8405 - val_loss: 0.5329 - val_get_f1: 0.8409
Epoch 7/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.5230 - get_f1: 0.8417 - val_loss: 0.5360 - val_get_f1: 0.8404
Epoch 8/100
8234/8234 [==============================] - 31s 4ms/step - loss: 0.5218 - get_f1: 0.8431 - val_loss: 0.5375 - val_get_f1: 0.8452
Epoch 9/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.5201 - get_f1: 0.8420 - val_loss: 0.5355 - val_get_f1: 0.8446
Epoch 10/100
8234/8234 [==============================] - 29s 4ms/step - loss: 0.5172 - get_f1: 0.8433 - val_loss: 0.5351 - val_get_f1: 0.8454
Epoch 11/100
8234/8234 [==============================] - 29s 4ms/step - loss: 0.5099 - get_f1: 0.8461 - val_loss: 0.5354 - val_get_f1: 0.8403
Epoch 12/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.5091 - get_f1: 0.8462 - val_loss: 0.5370 - val_get_f1: 0.8410
Epoch 13/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.5077 - get_f1: 0.8450 - val_loss: 0.5312 - val_get_f1: 0.8437
Epoch 14/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.5044 - get_f1: 0.8468 - val_loss: 0.5280 - val_get_f1: 0.8445
Epoch 15/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.5087 - get_f1: 0.8451 - val_loss: 0.5376 - val_get_f1: 0.8422
Epoch 16/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.5010 - get_f1: 0.8481 - val_loss: 0.5413 - val_get_f1: 0.8445
Epoch 17/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.5058 - get_f1: 0.8460 - val_loss: 0.5339 - val_get_f1: 0.8446
Epoch 18/100
8234/8234 [==============================] - 31s 4ms/step - loss: 0.5009 - get_f1: 0.8466 - val_loss: 0.5363 - val_get_f1: 0.8443
Epoch 19/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4970 - get_f1: 0.8490 - val_loss: 0.5316 - val_get_f1: 0.8453
Epoch 20/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.5023 - get_f1: 0.8462 - val_loss: 0.5328 - val_get_f1: 0.8431
Epoch 21/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4993 - get_f1: 0.8480 - val_loss: 0.5349 - val_get_f1: 0.8465
Epoch 22/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4945 - get_f1: 0.8493 - val_loss: 0.5354 - val_get_f1: 0.8427
Epoch 23/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4999 - get_f1: 0.8467 - val_loss: 0.5427 - val_get_f1: 0.8462
Epoch 24/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.5003 - get_f1: 0.8475 - val_loss: 0.5494 - val_get_f1: 0.8419
Epoch 25/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4888 - get_f1: 0.8508 - val_loss: 0.5411 - val_get_f1: 0.8443
Epoch 26/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4982 - get_f1: 0.8480 - val_loss: 0.5377 - val_get_f1: 0.8449
Epoch 27/100
8234/8234 [==============================] - 29s 4ms/step - loss: 0.4932 - get_f1: 0.8487 - val_loss: 0.5428 - val_get_f1: 0.8425
Epoch 28/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4964 - get_f1: 0.8490 - val_loss: 0.5390 - val_get_f1: 0.8457
Epoch 29/100
8234/8234 [==============================] - 31s 4ms/step - loss: 0.4941 - get_f1: 0.8497 - val_loss: 0.5489 - val_get_f1: 0.8442
Epoch 30/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.5003 - get_f1: 0.8491 - val_loss: 0.5489 - val_get_f1: 0.8457
Epoch 31/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4926 - get_f1: 0.8503 - val_loss: 0.5437 - val_get_f1: 0.8453
Epoch 32/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4921 - get_f1: 0.8492 - val_loss: 0.5504 - val_get_f1: 0.8409
Epoch 33/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4966 - get_f1: 0.8486 - val_loss: 0.5727 - val_get_f1: 0.8398
Epoch 34/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4832 - get_f1: 0.8531 - val_loss: 0.5511 - val_get_f1: 0.8415
Epoch 35/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4948 - get_f1: 0.8507 - val_loss: 0.5675 - val_get_f1: 0.8454
Epoch 36/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4881 - get_f1: 0.8521 - val_loss: 0.5563 - val_get_f1: 0.8429
Epoch 37/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4977 - get_f1: 0.8499 - val_loss: 0.5482 - val_get_f1: 0.8413
Epoch 38/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4944 - get_f1: 0.8490 - val_loss: 0.5496 - val_get_f1: 0.8439
Epoch 39/100
8234/8234 [==============================] - 31s 4ms/step - loss: 0.4969 - get_f1: 0.8494 - val_loss: 0.5538 - val_get_f1: 0.8390
Epoch 40/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4920 - get_f1: 0.8514 - val_loss: 0.5548 - val_get_f1: 0.8423
Epoch 41/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.5003 - get_f1: 0.8466 - val_loss: 0.5623 - val_get_f1: 0.8417
Epoch 42/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4907 - get_f1: 0.8513 - val_loss: 0.5568 - val_get_f1: 0.8411
Epoch 43/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4886 - get_f1: 0.8509 - val_loss: 0.5525 - val_get_f1: 0.8430
Epoch 44/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4969 - get_f1: 0.8496 - val_loss: 0.5553 - val_get_f1: 0.8433
Epoch 45/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4934 - get_f1: 0.8499 - val_loss: 0.5685 - val_get_f1: 0.8444
Epoch 46/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4853 - get_f1: 0.8528 - val_loss: 0.5627 - val_get_f1: 0.8432
Epoch 47/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4928 - get_f1: 0.8507 - val_loss: 0.5525 - val_get_f1: 0.8425
Epoch 48/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4967 - get_f1: 0.8493 - val_loss: 0.5739 - val_get_f1: 0.8420
Epoch 49/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4942 - get_f1: 0.8504 - val_loss: 0.5389 - val_get_f1: 0.8453
Epoch 50/100
8234/8234 [==============================] - 31s 4ms/step - loss: 0.4863 - get_f1: 0.8516 - val_loss: 0.5452 - val_get_f1: 0.8451
Epoch 51/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4927 - get_f1: 0.8504 - val_loss: 0.5552 - val_get_f1: 0.8445
Epoch 52/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4884 - get_f1: 0.8519 - val_loss: 0.6750 - val_get_f1: 0.8427
Epoch 53/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.5475 - get_f1: 0.8510 - val_loss: 0.5595 - val_get_f1: 0.8431
Epoch 54/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4906 - get_f1: 0.8508 - val_loss: 0.5650 - val_get_f1: 0.8377
Epoch 55/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4864 - get_f1: 0.8532 - val_loss: 0.5760 - val_get_f1: 0.8447
Epoch 56/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4898 - get_f1: 0.8525 - val_loss: 0.5765 - val_get_f1: 0.8410
Epoch 57/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4940 - get_f1: 0.8511 - val_loss: 0.5608 - val_get_f1: 0.8425
Epoch 58/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4934 - get_f1: 0.8518 - val_loss: 0.5628 - val_get_f1: 0.8429
Epoch 59/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4847 - get_f1: 0.8522 - val_loss: 0.5642 - val_get_f1: 0.8431
Epoch 60/100
8234/8234 [==============================] - 32s 4ms/step - loss: 0.4872 - get_f1: 0.8531 - val_loss: 0.5789 - val_get_f1: 0.8370
Epoch 61/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4889 - get_f1: 0.8526 - val_loss: 0.5687 - val_get_f1: 0.8425
Epoch 62/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4964 - get_f1: 0.8488 - val_loss: 0.5545 - val_get_f1: 0.8455
Epoch 63/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4871 - get_f1: 0.8521 - val_loss: 0.5744 - val_get_f1: 0.8398
Epoch 64/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4986 - get_f1: 0.8504 - val_loss: 0.5707 - val_get_f1: 0.8433
Epoch 65/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4886 - get_f1: 0.8520 - val_loss: 0.5631 - val_get_f1: 0.8417
Epoch 66/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4910 - get_f1: 0.8518 - val_loss: 0.5667 - val_get_f1: 0.8435
Epoch 67/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4933 - get_f1: 0.8503 - val_loss: 0.5670 - val_get_f1: 0.8438
Epoch 68/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4881 - get_f1: 0.8518 - val_loss: 0.5662 - val_get_f1: 0.8437
Epoch 69/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4965 - get_f1: 0.8500 - val_loss: 0.5583 - val_get_f1: 0.8431
Epoch 70/100
8234/8234 [==============================] - 32s 4ms/step - loss: 0.4925 - get_f1: 0.8518 - val_loss: 0.5656 - val_get_f1: 0.8438
Epoch 71/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4914 - get_f1: 0.8502 - val_loss: 0.5768 - val_get_f1: 0.8442
Epoch 72/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4845 - get_f1: 0.8535 - val_loss: 0.5555 - val_get_f1: 0.8422
Epoch 73/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4931 - get_f1: 0.8504 - val_loss: 0.6058 - val_get_f1: 0.8399
Epoch 74/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4846 - get_f1: 0.8531 - val_loss: 0.5594 - val_get_f1: 0.8425
Epoch 75/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4857 - get_f1: 0.8524 - val_loss: 0.5979 - val_get_f1: 0.8424
Epoch 76/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4826 - get_f1: 0.8535 - val_loss: 0.5684 - val_get_f1: 0.8443
Epoch 77/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4920 - get_f1: 0.8498 - val_loss: 0.5738 - val_get_f1: 0.8451
Epoch 78/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4805 - get_f1: 0.8549 - val_loss: 0.5795 - val_get_f1: 0.8359
Epoch 79/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4874 - get_f1: 0.8523 - val_loss: 0.5822 - val_get_f1: 0.8431
Epoch 80/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4865 - get_f1: 0.8525 - val_loss: 0.5857 - val_get_f1: 0.8430
Epoch 81/100
8234/8234 [==============================] - 31s 4ms/step - loss: 0.4899 - get_f1: 0.8516 - val_loss: 0.5596 - val_get_f1: 0.8377
Epoch 82/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4917 - get_f1: 0.8500 - val_loss: 0.5707 - val_get_f1: 0.8433
Epoch 83/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4863 - get_f1: 0.8536 - val_loss: 0.5792 - val_get_f1: 0.8440
Epoch 84/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4918 - get_f1: 0.8513 - val_loss: 0.5737 - val_get_f1: 0.8422
Epoch 85/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4908 - get_f1: 0.8506 - val_loss: 0.5990 - val_get_f1: 0.8430
Epoch 86/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4862 - get_f1: 0.8528 - val_loss: 0.5732 - val_get_f1: 0.8410
Epoch 87/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4850 - get_f1: 0.8540 - val_loss: 0.5802 - val_get_f1: 0.8446
Epoch 88/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4925 - get_f1: 0.8499 - val_loss: 0.5663 - val_get_f1: 0.8411
Epoch 89/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4840 - get_f1: 0.8527 - val_loss: 0.5617 - val_get_f1: 0.8444
Epoch 90/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4896 - get_f1: 0.8514 - val_loss: 0.6054 - val_get_f1: 0.8400
Epoch 91/100
8234/8234 [==============================] - 32s 4ms/step - loss: 0.4857 - get_f1: 0.8533 - val_loss: 0.6014 - val_get_f1: 0.8427
Epoch 92/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4889 - get_f1: 0.8496 - val_loss: 0.5821 - val_get_f1: 0.8444
Epoch 93/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4847 - get_f1: 0.8536 - val_loss: 0.5692 - val_get_f1: 0.8430
Epoch 94/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4838 - get_f1: 0.8532 - val_loss: 0.5934 - val_get_f1: 0.8405
Epoch 95/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4835 - get_f1: 0.8535 - val_loss: 0.5787 - val_get_f1: 0.8417
Epoch 96/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4838 - get_f1: 0.8543 - val_loss: 0.6241 - val_get_f1: 0.8395
Epoch 97/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4909 - get_f1: 0.8521 - val_loss: 0.5846 - val_get_f1: 0.8427
Epoch 98/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4850 - get_f1: 0.8524 - val_loss: 0.5920 - val_get_f1: 0.8407
Epoch 99/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4953 - get_f1: 0.8496 - val_loss: 0.6071 - val_get_f1: 0.8440
Epoch 100/100
8234/8234 [==============================] - 30s 4ms/step - loss: 0.4878 - get_f1: 0.8526 - val_loss: 0.6058 - val_get_f1: 0.8432

In [ ]:
y_pred = classifier.predict(X_test_st)
y_pred_final = np.argmax(y_pred,axis=1)
print('------------------------ANN MODEL------------------------')
print('F1 Score', metrics.f1_score(y_test,y_pred_final,average='macro'))
print('Accuracy Score', metrics.accuracy_score(y_test,y_pred_final))
print('Classification report \n ')
print(metrics.classification_report(y_test,y_pred_final))
print('\n')

------------------------ANN MODEL------------------------
F1 Score 0.294945346928661
Accuracy Score 0.838132991333411
Classification report

              precision    recall  f1-score   support

           0       0.86      0.98      0.92     21279
           1       0.50      0.26      0.34      1642
           2       0.20      0.04      0.06       761
           3       0.42      0.15      0.22       683
           4       0.42      0.14      0.21       663
           5       0.45      0.10      0.16       502
           6       0.28      0.10      0.15       201

    accuracy                           0.84     25731
   macro avg       0.45      0.25      0.29     25731
weighted avg       0.79      0.84      0.80     25731

### Submission of LGBM Model

In [ ]:
train_dataset.head()

,PaymentMode,BranchID,Tenure,AssetCost,AmountFinance,EMI,ManufacturerID,SupplierID,AGE,MonthlyIncome,State,ZiPCODE,top_up_class,Frequency_Half Yearly,Frequency_Monthly,Frequency_Quatrly,InstlmentMode_Arrear,LoanStatus_Closed,SEX_M,ID,DISBURSED-AMT/HIGH CREDIT_Median,INSTALLMENT-AMT_Median,CURRENT-BAL_Median,OVERDUE-AMT_Median,WRITE-OFF-AMT_Median,TENURE_Median,SELF-INDICATOR_Bureau_Traits_Total_Count,SELF-INDICATOR_Top_value,SELF-INDICATOR_Top_value_freq,SELF-INDICATOR_unique_values,MATCH-TYPE_Top_value,MATCH-TYPE_Top_value_freq,MATCH-TYPE_unique_values,ACCT-TYPE_Unique_count,ACCT-TYPE_Top_value,ACCT-TYPE_Top_value_freq,ACCT-TYPE_unique_values,CONTRIBUTOR-TYPE_Unique_count,CONTRIBUTOR-TYPE_Top_value,CONTRIBUTOR-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_unique_values,OWNERSHIP-IND_Unique_count,OWNERSHIP-IND_Top_value,OWNERSHIP-IND_Top_value_freq,OWNERSHIP-IND_unique_values,ACCOUNT-STATUS_Unique_count,ACCOUNT-STATUS_Top_value,ACCOUNT-STATUS_Top_value_freq,ACCOUNT-STATUS_unique_values,DPD_Hist_Median_Median,CUR BAL-Hist_Median_Median,AMT OVERDUE - HIST_Median_Median,AMT PAID - HIST_Median_Median
0,0.186877,1,48,450000,275000.0,24000.0,1568,21946,49,35833.33,0.425187,464993,1,0,1,0,1,1,1,1,275000.0,0.0,0.0,0.0,0.0,0.0,9,1,5,1,1,9,1,4,7,5,482,2,1,5,2,1,1,9,1,3,1,5,4,0.0,125115.50,615.0,0.0
1,0.255776,333,47,485000,350000.0,10500.0,1062,34802,23,666.67,0.425187,466001,0,0,1,0,0,1,1,2,700000.0,0.0,52421.0,0.0,0.0,35.0,13,2,12,1,1,13,1,7,10,4,6112,2,1,7,3,2,1,9,3,2,2,7,1,0.0,334547.50,0.0,0.0
2,0.668451,1,68,690000,519728.0,38300.0,1060,127335,39,45257.00,0.425187,462030,6,0,0,1,1,0,1,3,44000.0,0.0,0.0,0.0,0.0,0.0,31,2,29,1,1,31,1,8,2,8,7776,5,3,13,55,3,1,26,4,3,1,19,4,0.0,30303.00,0.0,0.0
3,0.168888,125,48,480000,400000.0,11600.0,1060,25094,24,20833.33,0.425187,473335,1,0,1,0,0,1,1,7,315000.0,0.0,0.0,0.0,0.0,5.0,4,1,2,1,1,4,1,2,1,3,19,1,1,4,1,1,1,4,1,2,1,2,1,0.0,195207.75,0.0,0.0
4,0.168888,152,44,619265,440000.0,15000.0,1046,21853,56,27313.67,0.269824,495442,2,0,1,0,1,1,1,8,200000.0,0.0,6989.0,0.0,0.0,42.0,7,2,6,1,1,7,1,3,1,4,162,3,1,4,4,3,1,3,4,4,2,3,45,0.0,172109.00,0.0,0.0

In [ ]:
y = train_dataset['top_up_class']
X = train_dataset.drop('top_up_class',axis=1)
print(X.shape,y.shape)

(128654, 52) (128654,)

In [ ]:
sc = StandardScaler()
X_st = sc.fit_transform(X)
test_final_st = sc.transform(test_dataset)

In [ ]:
model_lgbm_final_submit = LGBMClassifier()
model_lgbm_final_submit = model_lgbm_final_submit.fit(X_st,y)

y_pred = model_lgbm_final_submit.predict(test_final_st)
top_up_class_label_dict = {
    0:'No Top-up Service',
    1:' > 48 Months',
    2:'36-48 Months',
    3:'24-30 Months',
    4:'30-36 Months',
    5:'18-24 Months',
    6:'12-18 Months'
}
submission_df = pd.read_excel('/content/drive/MyDrive/LTFS_Top_up/test_Data.xlsx')
submission_df['Pred'] = list(y_pred)
sub = submission_df[['ID','Pred']]
sub.columns = ['ID','Top-up Month']
sub['Top-up Month_Final'] = sub['Top-up Month'].map(top_up_class_label_dict)
sub = sub.drop('Top-up Month',axis=1)
sub.columns = ['ID','Top-up Month']
sub['Top-up Month'].value_counts()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

No Top-up Service    14244
 > 48 Months           387
24-30 Months            38
36-48 Months            27
30-36 Months            26
18-24 Months            20
12-18 Months             3
Name: Top-up Month, dtype: int64

In [ ]:
sub.to_csv('submit_lgbm_rank_enc.csv',index=False)

### Training on Rank , top 10 , Dummies

In [ ]:
train_dataset = pd.read_excel('/content/drive/MyDrive/LTFS_Top_up/Final/Final Dataset for Training/train_data_final_bur_combined_rank_top_dummies_cat_enc.xlsx')
train_dataset.head()

,Unnamed: 0,PaymentMode,BranchID,Tenure,AssetCost,AmountFinance,EMI,ManufacturerID,SupplierID,AGE,MonthlyIncome,State,ZiPCODE,top_up_class,Frequency_Half Yearly,Frequency_Monthly,Frequency_Quatrly,InstlmentMode_Arrear,LoanStatus_Closed,SEX_M,ID,DISBURSED-AMT/HIGH CREDIT_Median,INSTALLMENT-AMT_Median,CURRENT-BAL_Median,OVERDUE-AMT_Median,WRITE-OFF-AMT_Median,TENURE_Median,SELF-INDICATOR_Bureau_Traits_Total_Count,SELF-INDICATOR_Top_value_freq,MATCH-TYPE_Top_value_freq,ACCT-TYPE_Unique_count,ACCT-TYPE_Top_value,ACCT-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_Unique_count,CONTRIBUTOR-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_unique_values,OWNERSHIP-IND_Unique_count,OWNERSHIP-IND_Top_value_freq,OWNERSHIP-IND_unique_values,ACCOUNT-STATUS_Unique_count,ACCOUNT-STATUS_Top_value_freq,ACCOUNT-STATUS_unique_values,DPD_Hist_Median_Median,CUR BAL-Hist_Median_Median,AMT OVERDUE - HIST_Median_Median,AMT PAID - HIST_Median_Median,['Tractor Loan'],"['Business Loan Priority Sector Agriculture', 'Tractor Loan']","['Kisan Credit Card', 'Tractor Loan']","['Business Loan Priority Sector Agriculture', 'Kisan Credit Card', 'Tractor Loan']","['Auto Loan (Personal)', 'Tractor Loan']","['Tractor Loan', 'Two-Wheeler Loan']","['Gold Loan', 'Tractor Loan']",['Business Loan Priority Sector Agriculture'],"['Other', 'Tractor Loan']","['Commercial Vehicle Loan', 'Tractor Loan']","['Business Loan Priority Sector Agriculture', 'Gold Loan', 'Kisan Credit Card', 'Tractor Loan']","['Business Loan Priority Sector Agriculture', 'Gold Loan', 'Tractor Loan']","['Credit Card', 'Tractor Loan']","['Gold Loan', 'Kisan Credit Card', 'Tractor Loan']","['Consumer Loan', 'Tractor Loan']",['Other'],"['Auto Loan (Personal)', 'Business Loan Priority Sector Agriculture', 'Tractor Loan']","['Overdraft', 'Tractor Loan']","['Personal Loan', 'Tractor Loan']","['Business Loan Priority Sector Agriculture', 'Other', 'Tractor Loan']",SELF-INDICATOR_Top_value_True,SELF-INDICATOR_unique_values_True,SELF-INDICATOR_unique_values_True False,MATCH-TYPE_Top_value_SECONDARY,MATCH-TYPE_unique_values_PRIMARY SECONDARY,MATCH-TYPE_unique_values_SECONDARY,CONTRIBUTOR-TYPE_Top_value_COP,CONTRIBUTOR-TYPE_Top_value_FRB,CONTRIBUTOR-TYPE_Top_value_HFC,CONTRIBUTOR-TYPE_Top_value_MFI,CONTRIBUTOR-TYPE_Top_value_NAB,CONTRIBUTOR-TYPE_Top_value_NBF,CONTRIBUTOR-TYPE_Top_value_PRB,CONTRIBUTOR-TYPE_Top_value_RRB,CONTRIBUTOR-TYPE_Top_value_SFB,OWNERSHIP-IND_Top_value_Individual,OWNERSHIP-IND_Top_value_Joint,OWNERSHIP-IND_Top_value_Primary,OWNERSHIP-IND_Top_value_Supl Card Holder,ACCOUNT-STATUS_Top_value_Closed,ACCOUNT-STATUS_Top_value_Delinquent,ACCOUNT-STATUS_Top_value_Restructured,ACCOUNT-STATUS_Top_value_SUIT FILED (WILFUL DEFAULT),ACCOUNT-STATUS_Top_value_Settled,ACCOUNT-STATUS_Top_value_Suit Filed,ACCOUNT-STATUS_Top_value_WILFUL DEFAULT,ACCOUNT-STATUS_Top_value_Written Off
0,0,0.186877,1,48,450000,275000.0,24000.0,1568,21946,49,35833.33,0.425187,464993,1,0,1,0,1,1,1,1,275000.0,0.0,0.0,0.0,0.0,0.0,9,5,9,4,7,5,2,5,2,1,9,1,3,5,4,0.0,125115.50,615.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
1,1,0.255776,333,47,485000,350000.0,10500.0,1062,34802,23,666.67,0.425187,466001,0,0,1,0,0,1,1,2,700000.0,0.0,52421.0,0.0,0.0,35.0,13,12,13,7,10,4,2,7,3,2,9,3,2,7,1,0.0,334547.50,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,2,0.668451,1,68,690000,519728.0,38300.0,1060,127335,39,45257.00,0.425187,462030,6,0,0,1,1,0,1,3,44000.0,0.0,0.0,0.0,0.0,0.0,31,29,31,8,2,8,5,13,55,3,26,4,3,19,4,0.0,30303.00,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0
3,3,0.168888,125,48,480000,400000.0,11600.0,1060,25094,24,20833.33,0.425187,473335,1,0,1,0,0,1,1,7,315000.0,0.0,0.0,0.0,0.0,5.0,4,2,4,2,1,3,1,4,1,1,4,1,2,2,1,0.0,195207.75,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
4,4,0.168888,152,44,619265,440000.0,15000.0,1046,21853,56,27313.67,0.269824,495442,2,0,1,0,1,1,1,8,200000.0,0.0,6989.0,0.0,0.0,42.0,7,6,7,3,1,4,3,4,4,3,3,4,4,3,45,0.0,172109.00,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
train_dataset = train_dataset.iloc[:,1:]
train_dataset.head()

,PaymentMode,BranchID,Tenure,AssetCost,AmountFinance,EMI,ManufacturerID,SupplierID,AGE,MonthlyIncome,State,ZiPCODE,top_up_class,Frequency_Half Yearly,Frequency_Monthly,Frequency_Quatrly,InstlmentMode_Arrear,LoanStatus_Closed,SEX_M,ID,DISBURSED-AMT/HIGH CREDIT_Median,INSTALLMENT-AMT_Median,CURRENT-BAL_Median,OVERDUE-AMT_Median,WRITE-OFF-AMT_Median,TENURE_Median,SELF-INDICATOR_Bureau_Traits_Total_Count,SELF-INDICATOR_Top_value_freq,MATCH-TYPE_Top_value_freq,ACCT-TYPE_Unique_count,ACCT-TYPE_Top_value,ACCT-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_Unique_count,CONTRIBUTOR-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_unique_values,OWNERSHIP-IND_Unique_count,OWNERSHIP-IND_Top_value_freq,OWNERSHIP-IND_unique_values,ACCOUNT-STATUS_Unique_count,ACCOUNT-STATUS_Top_value_freq,ACCOUNT-STATUS_unique_values,DPD_Hist_Median_Median,CUR BAL-Hist_Median_Median,AMT OVERDUE - HIST_Median_Median,AMT PAID - HIST_Median_Median,['Tractor Loan'],"['Business Loan Priority Sector Agriculture', 'Tractor Loan']","['Kisan Credit Card', 'Tractor Loan']","['Business Loan Priority Sector Agriculture', 'Kisan Credit Card', 'Tractor Loan']","['Auto Loan (Personal)', 'Tractor Loan']","['Tractor Loan', 'Two-Wheeler Loan']","['Gold Loan', 'Tractor Loan']",['Business Loan Priority Sector Agriculture'],"['Other', 'Tractor Loan']","['Commercial Vehicle Loan', 'Tractor Loan']","['Business Loan Priority Sector Agriculture', 'Gold Loan', 'Kisan Credit Card', 'Tractor Loan']","['Business Loan Priority Sector Agriculture', 'Gold Loan', 'Tractor Loan']","['Credit Card', 'Tractor Loan']","['Gold Loan', 'Kisan Credit Card', 'Tractor Loan']","['Consumer Loan', 'Tractor Loan']",['Other'],"['Auto Loan (Personal)', 'Business Loan Priority Sector Agriculture', 'Tractor Loan']","['Overdraft', 'Tractor Loan']","['Personal Loan', 'Tractor Loan']","['Business Loan Priority Sector Agriculture', 'Other', 'Tractor Loan']",SELF-INDICATOR_Top_value_True,SELF-INDICATOR_unique_values_True,SELF-INDICATOR_unique_values_True False,MATCH-TYPE_Top_value_SECONDARY,MATCH-TYPE_unique_values_PRIMARY SECONDARY,MATCH-TYPE_unique_values_SECONDARY,CONTRIBUTOR-TYPE_Top_value_COP,CONTRIBUTOR-TYPE_Top_value_FRB,CONTRIBUTOR-TYPE_Top_value_HFC,CONTRIBUTOR-TYPE_Top_value_MFI,CONTRIBUTOR-TYPE_Top_value_NAB,CONTRIBUTOR-TYPE_Top_value_NBF,CONTRIBUTOR-TYPE_Top_value_PRB,CONTRIBUTOR-TYPE_Top_value_RRB,CONTRIBUTOR-TYPE_Top_value_SFB,OWNERSHIP-IND_Top_value_Individual,OWNERSHIP-IND_Top_value_Joint,OWNERSHIP-IND_Top_value_Primary,OWNERSHIP-IND_Top_value_Supl Card Holder,ACCOUNT-STATUS_Top_value_Closed,ACCOUNT-STATUS_Top_value_Delinquent,ACCOUNT-STATUS_Top_value_Restructured,ACCOUNT-STATUS_Top_value_SUIT FILED (WILFUL DEFAULT),ACCOUNT-STATUS_Top_value_Settled,ACCOUNT-STATUS_Top_value_Suit Filed,ACCOUNT-STATUS_Top_value_WILFUL DEFAULT,ACCOUNT-STATUS_Top_value_Written Off
0,0.186877,1,48,450000,275000.0,24000.0,1568,21946,49,35833.33,0.425187,464993,1,0,1,0,1,1,1,1,275000.0,0.0,0.0,0.0,0.0,0.0,9,5,9,4,7,5,2,5,2,1,9,1,3,5,4,0.0,125115.50,615.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
1,0.255776,333,47,485000,350000.0,10500.0,1062,34802,23,666.67,0.425187,466001,0,0,1,0,0,1,1,2,700000.0,0.0,52421.0,0.0,0.0,35.0,13,12,13,7,10,4,2,7,3,2,9,3,2,7,1,0.0,334547.50,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,0.668451,1,68,690000,519728.0,38300.0,1060,127335,39,45257.00,0.425187,462030,6,0,0,1,1,0,1,3,44000.0,0.0,0.0,0.0,0.0,0.0,31,29,31,8,2,8,5,13,55,3,26,4,3,19,4,0.0,30303.00,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0
3,0.168888,125,48,480000,400000.0,11600.0,1060,25094,24,20833.33,0.425187,473335,1,0,1,0,0,1,1,7,315000.0,0.0,0.0,0.0,0.0,5.0,4,2,4,2,1,3,1,4,1,1,4,1,2,2,1,0.0,195207.75,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
4,0.168888,152,44,619265,440000.0,15000.0,1046,21853,56,27313.67,0.269824,495442,2,0,1,0,1,1,1,8,200000.0,0.0,6989.0,0.0,0.0,42.0,7,6,7,3,1,4,3,4,4,3,3,4,4,3,45,0.0,172109.00,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
test_dataset = pd.read_excel('/content/drive/MyDrive/LTFS_Top_up/Final/Final Dataset for Training/test_data_final_bur_combined_rank_top_dummies_cat_enc.xlsx')
test_dataset.head()

,Unnamed: 0,PaymentMode,BranchID,Tenure,AssetCost,AmountFinance,EMI,ManufacturerID,SupplierID,AGE,MonthlyIncome,State,ZiPCODE,Frequency_Half Yearly,Frequency_Monthly,Frequency_Quatrly,InstlmentMode_Arrear,LoanStatus_Closed,SEX_M,ID,DISBURSED-AMT/HIGH CREDIT_Median,INSTALLMENT-AMT_Median,CURRENT-BAL_Median,OVERDUE-AMT_Median,WRITE-OFF-AMT_Median,TENURE_Median,SELF-INDICATOR_Bureau_Traits_Total_Count,SELF-INDICATOR_Top_value_freq,MATCH-TYPE_Top_value_freq,ACCT-TYPE_Unique_count,ACCT-TYPE_Top_value,ACCT-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_Unique_count,CONTRIBUTOR-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_unique_values,OWNERSHIP-IND_Unique_count,OWNERSHIP-IND_Top_value_freq,OWNERSHIP-IND_unique_values,ACCOUNT-STATUS_Unique_count,ACCOUNT-STATUS_Top_value_freq,ACCOUNT-STATUS_unique_values,DPD_Hist_Median_Median,CUR BAL-Hist_Median_Median,AMT OVERDUE - HIST_Median_Median,AMT PAID - HIST_Median_Median,['Tractor Loan'],"['Business Loan Priority Sector Agriculture', 'Tractor Loan']","['Kisan Credit Card', 'Tractor Loan']","['Business Loan Priority Sector Agriculture', 'Kisan Credit Card', 'Tractor Loan']","['Auto Loan (Personal)', 'Tractor Loan']","['Tractor Loan', 'Two-Wheeler Loan']","['Gold Loan', 'Tractor Loan']",['Business Loan Priority Sector Agriculture'],"['Other', 'Tractor Loan']","['Commercial Vehicle Loan', 'Tractor Loan']","['Business Loan Priority Sector Agriculture', 'Gold Loan', 'Kisan Credit Card', 'Tractor Loan']","['Business Loan Priority Sector Agriculture', 'Gold Loan', 'Tractor Loan']","['Credit Card', 'Tractor Loan']","['Gold Loan', 'Kisan Credit Card', 'Tractor Loan']","['Consumer Loan', 'Tractor Loan']",['Other'],"['Auto Loan (Personal)', 'Business Loan Priority Sector Agriculture', 'Tractor Loan']","['Overdraft', 'Tractor Loan']","['Personal Loan', 'Tractor Loan']","['Business Loan Priority Sector Agriculture', 'Other', 'Tractor Loan']",SELF-INDICATOR_Top_value_True,SELF-INDICATOR_unique_values_True,SELF-INDICATOR_unique_values_True False,MATCH-TYPE_Top_value_SECONDARY,MATCH-TYPE_unique_values_PRIMARY SECONDARY,MATCH-TYPE_unique_values_SECONDARY,CONTRIBUTOR-TYPE_Top_value_COP,CONTRIBUTOR-TYPE_Top_value_FRB,CONTRIBUTOR-TYPE_Top_value_HFC,CONTRIBUTOR-TYPE_Top_value_MFI,CONTRIBUTOR-TYPE_Top_value_NAB,CONTRIBUTOR-TYPE_Top_value_NBF,CONTRIBUTOR-TYPE_Top_value_PRB,CONTRIBUTOR-TYPE_Top_value_RRB,CONTRIBUTOR-TYPE_Top_value_SFB,OWNERSHIP-IND_Top_value_Individual,OWNERSHIP-IND_Top_value_Joint,OWNERSHIP-IND_Top_value_Primary,OWNERSHIP-IND_Top_value_Supl Card Holder,ACCOUNT-STATUS_Top_value_Closed,ACCOUNT-STATUS_Top_value_Delinquent,ACCOUNT-STATUS_Top_value_Restructured,ACCOUNT-STATUS_Top_value_SUIT FILED (WILFUL DEFAULT),ACCOUNT-STATUS_Top_value_Settled,ACCOUNT-STATUS_Top_value_Suit Filed,ACCOUNT-STATUS_Top_value_WILFUL DEFAULT,ACCOUNT-STATUS_Top_value_Written Off
0,0,0.186877,2,46,480000,365000.0,1000.0,1046,22354,50,32069.00,0.425187,473001,0,1,0,0,1,1,4,232000.0,611.5,42023.5,0.0,0.0,60.0,4,3,4,4,1,1,3,2,79,2,2,2,2,3,1,0.0,132597.5,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,1,0.255776,2,45,480000,285000.0,9300.0,1046,22354,35,25000.00,0.425187,473001,0,1,0,0,1,1,5,106008.0,0.0,0.0,0.0,0.0,0.0,8,7,8,5,2,3,4,3,64,2,6,2,2,6,1,0.0,98453.5,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
2,2,0.255776,2,48,580000,400000.0,35800.0,1060,65929,37,23333.33,0.425187,473001,0,0,1,1,1,1,6,230000.0,0.0,0.0,0.0,0.0,9.5,12,10,12,4,7,7,2,11,3,3,6,4,2,11,1,0.0,22018.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
3,3,0.168888,154,36,725000,500000.0,52000.0,1049,68597,55,91666.67,0.269824,493558,1,0,0,1,1,1,25,400000.0,0.0,63796.5,0.0,0.0,0.0,2,1,2,2,3,1,2,1,2,1,2,1,2,1,1,0.0,139003.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,4,0.255776,194,48,617000,400000.0,35400.0,1049,38493,48,12500.00,0.430084,754137,0,0,1,1,1,1,119,465000.0,8000.0,58100.0,0.0,0.0,23.0,2,1,2,2,7,1,1,2,1,2,1,3,2,1,1,0.0,254296.0,0.0,265000.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
test_dataset = test_dataset.iloc[:,1:]
test_dataset.head()

,PaymentMode,BranchID,Tenure,AssetCost,AmountFinance,EMI,ManufacturerID,SupplierID,AGE,MonthlyIncome,State,ZiPCODE,Frequency_Half Yearly,Frequency_Monthly,Frequency_Quatrly,InstlmentMode_Arrear,LoanStatus_Closed,SEX_M,ID,DISBURSED-AMT/HIGH CREDIT_Median,INSTALLMENT-AMT_Median,CURRENT-BAL_Median,OVERDUE-AMT_Median,WRITE-OFF-AMT_Median,TENURE_Median,SELF-INDICATOR_Bureau_Traits_Total_Count,SELF-INDICATOR_Top_value_freq,MATCH-TYPE_Top_value_freq,ACCT-TYPE_Unique_count,ACCT-TYPE_Top_value,ACCT-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_Unique_count,CONTRIBUTOR-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_unique_values,OWNERSHIP-IND_Unique_count,OWNERSHIP-IND_Top_value_freq,OWNERSHIP-IND_unique_values,ACCOUNT-STATUS_Unique_count,ACCOUNT-STATUS_Top_value_freq,ACCOUNT-STATUS_unique_values,DPD_Hist_Median_Median,CUR BAL-Hist_Median_Median,AMT OVERDUE - HIST_Median_Median,AMT PAID - HIST_Median_Median,['Tractor Loan'],"['Business Loan Priority Sector Agriculture', 'Tractor Loan']","['Kisan Credit Card', 'Tractor Loan']","['Business Loan Priority Sector Agriculture', 'Kisan Credit Card', 'Tractor Loan']","['Auto Loan (Personal)', 'Tractor Loan']","['Tractor Loan', 'Two-Wheeler Loan']","['Gold Loan', 'Tractor Loan']",['Business Loan Priority Sector Agriculture'],"['Other', 'Tractor Loan']","['Commercial Vehicle Loan', 'Tractor Loan']","['Business Loan Priority Sector Agriculture', 'Gold Loan', 'Kisan Credit Card', 'Tractor Loan']","['Business Loan Priority Sector Agriculture', 'Gold Loan', 'Tractor Loan']","['Credit Card', 'Tractor Loan']","['Gold Loan', 'Kisan Credit Card', 'Tractor Loan']","['Consumer Loan', 'Tractor Loan']",['Other'],"['Auto Loan (Personal)', 'Business Loan Priority Sector Agriculture', 'Tractor Loan']","['Overdraft', 'Tractor Loan']","['Personal Loan', 'Tractor Loan']","['Business Loan Priority Sector Agriculture', 'Other', 'Tractor Loan']",SELF-INDICATOR_Top_value_True,SELF-INDICATOR_unique_values_True,SELF-INDICATOR_unique_values_True False,MATCH-TYPE_Top_value_SECONDARY,MATCH-TYPE_unique_values_PRIMARY SECONDARY,MATCH-TYPE_unique_values_SECONDARY,CONTRIBUTOR-TYPE_Top_value_COP,CONTRIBUTOR-TYPE_Top_value_FRB,CONTRIBUTOR-TYPE_Top_value_HFC,CONTRIBUTOR-TYPE_Top_value_MFI,CONTRIBUTOR-TYPE_Top_value_NAB,CONTRIBUTOR-TYPE_Top_value_NBF,CONTRIBUTOR-TYPE_Top_value_PRB,CONTRIBUTOR-TYPE_Top_value_RRB,CONTRIBUTOR-TYPE_Top_value_SFB,OWNERSHIP-IND_Top_value_Individual,OWNERSHIP-IND_Top_value_Joint,OWNERSHIP-IND_Top_value_Primary,OWNERSHIP-IND_Top_value_Supl Card Holder,ACCOUNT-STATUS_Top_value_Closed,ACCOUNT-STATUS_Top_value_Delinquent,ACCOUNT-STATUS_Top_value_Restructured,ACCOUNT-STATUS_Top_value_SUIT FILED (WILFUL DEFAULT),ACCOUNT-STATUS_Top_value_Settled,ACCOUNT-STATUS_Top_value_Suit Filed,ACCOUNT-STATUS_Top_value_WILFUL DEFAULT,ACCOUNT-STATUS_Top_value_Written Off
0,0.186877,2,46,480000,365000.0,1000.0,1046,22354,50,32069.00,0.425187,473001,0,1,0,0,1,1,4,232000.0,611.5,42023.5,0.0,0.0,60.0,4,3,4,4,1,1,3,2,79,2,2,2,2,3,1,0.0,132597.5,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,0.255776,2,45,480000,285000.0,9300.0,1046,22354,35,25000.00,0.425187,473001,0,1,0,0,1,1,5,106008.0,0.0,0.0,0.0,0.0,0.0,8,7,8,5,2,3,4,3,64,2,6,2,2,6,1,0.0,98453.5,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
2,0.255776,2,48,580000,400000.0,35800.0,1060,65929,37,23333.33,0.425187,473001,0,0,1,1,1,1,6,230000.0,0.0,0.0,0.0,0.0,9.5,12,10,12,4,7,7,2,11,3,3,6,4,2,11,1,0.0,22018.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
3,0.168888,154,36,725000,500000.0,52000.0,1049,68597,55,91666.67,0.269824,493558,1,0,0,1,1,1,25,400000.0,0.0,63796.5,0.0,0.0,0.0,2,1,2,2,3,1,2,1,2,1,2,1,2,1,1,0.0,139003.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,0.255776,194,48,617000,400000.0,35400.0,1049,38493,48,12500.00,0.430084,754137,0,0,1,1,1,1,119,465000.0,8000.0,58100.0,0.0,0.0,23.0,2,1,2,2,7,1,1,2,1,2,1,3,2,1,1,0.0,254296.0,0.0,265000.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
display(train_dataset.head())
display(test_dataset.head())

,PaymentMode,BranchID,Tenure,AssetCost,AmountFinance,EMI,ManufacturerID,SupplierID,AGE,MonthlyIncome,State,ZiPCODE,top_up_class,Frequency_Half Yearly,Frequency_Monthly,Frequency_Quatrly,InstlmentMode_Arrear,LoanStatus_Closed,SEX_M,ID,DISBURSED-AMT/HIGH CREDIT_Median,INSTALLMENT-AMT_Median,CURRENT-BAL_Median,OVERDUE-AMT_Median,WRITE-OFF-AMT_Median,TENURE_Median,SELF-INDICATOR_Bureau_Traits_Total_Count,SELF-INDICATOR_Top_value_freq,MATCH-TYPE_Top_value_freq,ACCT-TYPE_Unique_count,ACCT-TYPE_Top_value,ACCT-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_Unique_count,CONTRIBUTOR-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_unique_values,OWNERSHIP-IND_Unique_count,OWNERSHIP-IND_Top_value_freq,OWNERSHIP-IND_unique_values,ACCOUNT-STATUS_Unique_count,ACCOUNT-STATUS_Top_value_freq,ACCOUNT-STATUS_unique_values,DPD_Hist_Median_Median,CUR BAL-Hist_Median_Median,AMT OVERDUE - HIST_Median_Median,AMT PAID - HIST_Median_Median,['Tractor Loan'],"['Business Loan Priority Sector Agriculture', 'Tractor Loan']","['Kisan Credit Card', 'Tractor Loan']","['Business Loan Priority Sector Agriculture', 'Kisan Credit Card', 'Tractor Loan']","['Auto Loan (Personal)', 'Tractor Loan']","['Tractor Loan', 'Two-Wheeler Loan']","['Gold Loan', 'Tractor Loan']",['Business Loan Priority Sector Agriculture'],"['Other', 'Tractor Loan']","['Commercial Vehicle Loan', 'Tractor Loan']","['Business Loan Priority Sector Agriculture', 'Gold Loan', 'Kisan Credit Card', 'Tractor Loan']","['Business Loan Priority Sector Agriculture', 'Gold Loan', 'Tractor Loan']","['Credit Card', 'Tractor Loan']","['Gold Loan', 'Kisan Credit Card', 'Tractor Loan']","['Consumer Loan', 'Tractor Loan']",['Other'],"['Auto Loan (Personal)', 'Business Loan Priority Sector Agriculture', 'Tractor Loan']","['Overdraft', 'Tractor Loan']","['Personal Loan', 'Tractor Loan']","['Business Loan Priority Sector Agriculture', 'Other', 'Tractor Loan']",SELF-INDICATOR_Top_value_True,SELF-INDICATOR_unique_values_True,SELF-INDICATOR_unique_values_True False,MATCH-TYPE_Top_value_SECONDARY,MATCH-TYPE_unique_values_PRIMARY SECONDARY,MATCH-TYPE_unique_values_SECONDARY,CONTRIBUTOR-TYPE_Top_value_COP,CONTRIBUTOR-TYPE_Top_value_FRB,CONTRIBUTOR-TYPE_Top_value_HFC,CONTRIBUTOR-TYPE_Top_value_MFI,CONTRIBUTOR-TYPE_Top_value_NAB,CONTRIBUTOR-TYPE_Top_value_NBF,CONTRIBUTOR-TYPE_Top_value_PRB,CONTRIBUTOR-TYPE_Top_value_RRB,CONTRIBUTOR-TYPE_Top_value_SFB,OWNERSHIP-IND_Top_value_Individual,OWNERSHIP-IND_Top_value_Joint,OWNERSHIP-IND_Top_value_Primary,OWNERSHIP-IND_Top_value_Supl Card Holder,ACCOUNT-STATUS_Top_value_Closed,ACCOUNT-STATUS_Top_value_Delinquent,ACCOUNT-STATUS_Top_value_Restructured,ACCOUNT-STATUS_Top_value_SUIT FILED (WILFUL DEFAULT),ACCOUNT-STATUS_Top_value_Settled,ACCOUNT-STATUS_Top_value_Suit Filed,ACCOUNT-STATUS_Top_value_WILFUL DEFAULT,ACCOUNT-STATUS_Top_value_Written Off
0,0.186877,1,48,450000,275000.0,24000.0,1568,21946,49,35833.33,0.425187,464993,1,0,1,0,1,1,1,1,275000.0,0.0,0.0,0.0,0.0,0.0,9,5,9,4,7,5,2,5,2,1,9,1,3,5,4,0.0,125115.50,615.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
1,0.255776,333,47,485000,350000.0,10500.0,1062,34802,23,666.67,0.425187,466001,0,0,1,0,0,1,1,2,700000.0,0.0,52421.0,0.0,0.0,35.0,13,12,13,7,10,4,2,7,3,2,9,3,2,7,1,0.0,334547.50,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,0.668451,1,68,690000,519728.0,38300.0,1060,127335,39,45257.00,0.425187,462030,6,0,0,1,1,0,1,3,44000.0,0.0,0.0,0.0,0.0,0.0,31,29,31,8,2,8,5,13,55,3,26,4,3,19,4,0.0,30303.00,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0
3,0.168888,125,48,480000,400000.0,11600.0,1060,25094,24,20833.33,0.425187,473335,1,0,1,0,0,1,1,7,315000.0,0.0,0.0,0.0,0.0,5.0,4,2,4,2,1,3,1,4,1,1,4,1,2,2,1,0.0,195207.75,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
4,0.168888,152,44,619265,440000.0,15000.0,1046,21853,56,27313.67,0.269824,495442,2,0,1,0,1,1,1,8,200000.0,0.0,6989.0,0.0,0.0,42.0,7,6,7,3,1,4,3,4,4,3,3,4,4,3,45,0.0,172109.00,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

,PaymentMode,BranchID,Tenure,AssetCost,AmountFinance,EMI,ManufacturerID,SupplierID,AGE,MonthlyIncome,State,ZiPCODE,Frequency_Half Yearly,Frequency_Monthly,Frequency_Quatrly,InstlmentMode_Arrear,LoanStatus_Closed,SEX_M,ID,DISBURSED-AMT/HIGH CREDIT_Median,INSTALLMENT-AMT_Median,CURRENT-BAL_Median,OVERDUE-AMT_Median,WRITE-OFF-AMT_Median,TENURE_Median,SELF-INDICATOR_Bureau_Traits_Total_Count,SELF-INDICATOR_Top_value_freq,MATCH-TYPE_Top_value_freq,ACCT-TYPE_Unique_count,ACCT-TYPE_Top_value,ACCT-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_Unique_count,CONTRIBUTOR-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_unique_values,OWNERSHIP-IND_Unique_count,OWNERSHIP-IND_Top_value_freq,OWNERSHIP-IND_unique_values,ACCOUNT-STATUS_Unique_count,ACCOUNT-STATUS_Top_value_freq,ACCOUNT-STATUS_unique_values,DPD_Hist_Median_Median,CUR BAL-Hist_Median_Median,AMT OVERDUE - HIST_Median_Median,AMT PAID - HIST_Median_Median,['Tractor Loan'],"['Business Loan Priority Sector Agriculture', 'Tractor Loan']","['Kisan Credit Card', 'Tractor Loan']","['Business Loan Priority Sector Agriculture', 'Kisan Credit Card', 'Tractor Loan']","['Auto Loan (Personal)', 'Tractor Loan']","['Tractor Loan', 'Two-Wheeler Loan']","['Gold Loan', 'Tractor Loan']",['Business Loan Priority Sector Agriculture'],"['Other', 'Tractor Loan']","['Commercial Vehicle Loan', 'Tractor Loan']","['Business Loan Priority Sector Agriculture', 'Gold Loan', 'Kisan Credit Card', 'Tractor Loan']","['Business Loan Priority Sector Agriculture', 'Gold Loan', 'Tractor Loan']","['Credit Card', 'Tractor Loan']","['Gold Loan', 'Kisan Credit Card', 'Tractor Loan']","['Consumer Loan', 'Tractor Loan']",['Other'],"['Auto Loan (Personal)', 'Business Loan Priority Sector Agriculture', 'Tractor Loan']","['Overdraft', 'Tractor Loan']","['Personal Loan', 'Tractor Loan']","['Business Loan Priority Sector Agriculture', 'Other', 'Tractor Loan']",SELF-INDICATOR_Top_value_True,SELF-INDICATOR_unique_values_True,SELF-INDICATOR_unique_values_True False,MATCH-TYPE_Top_value_SECONDARY,MATCH-TYPE_unique_values_PRIMARY SECONDARY,MATCH-TYPE_unique_values_SECONDARY,CONTRIBUTOR-TYPE_Top_value_COP,CONTRIBUTOR-TYPE_Top_value_FRB,CONTRIBUTOR-TYPE_Top_value_HFC,CONTRIBUTOR-TYPE_Top_value_MFI,CONTRIBUTOR-TYPE_Top_value_NAB,CONTRIBUTOR-TYPE_Top_value_NBF,CONTRIBUTOR-TYPE_Top_value_PRB,CONTRIBUTOR-TYPE_Top_value_RRB,CONTRIBUTOR-TYPE_Top_value_SFB,OWNERSHIP-IND_Top_value_Individual,OWNERSHIP-IND_Top_value_Joint,OWNERSHIP-IND_Top_value_Primary,OWNERSHIP-IND_Top_value_Supl Card Holder,ACCOUNT-STATUS_Top_value_Closed,ACCOUNT-STATUS_Top_value_Delinquent,ACCOUNT-STATUS_Top_value_Restructured,ACCOUNT-STATUS_Top_value_SUIT FILED (WILFUL DEFAULT),ACCOUNT-STATUS_Top_value_Settled,ACCOUNT-STATUS_Top_value_Suit Filed,ACCOUNT-STATUS_Top_value_WILFUL DEFAULT,ACCOUNT-STATUS_Top_value_Written Off
0,0.186877,2,46,480000,365000.0,1000.0,1046,22354,50,32069.00,0.425187,473001,0,1,0,0,1,1,4,232000.0,611.5,42023.5,0.0,0.0,60.0,4,3,4,4,1,1,3,2,79,2,2,2,2,3,1,0.0,132597.5,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,0.255776,2,45,480000,285000.0,9300.0,1046,22354,35,25000.00,0.425187,473001,0,1,0,0,1,1,5,106008.0,0.0,0.0,0.0,0.0,0.0,8,7,8,5,2,3,4,3,64,2,6,2,2,6,1,0.0,98453.5,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
2,0.255776,2,48,580000,400000.0,35800.0,1060,65929,37,23333.33,0.425187,473001,0,0,1,1,1,1,6,230000.0,0.0,0.0,0.0,0.0,9.5,12,10,12,4,7,7,2,11,3,3,6,4,2,11,1,0.0,22018.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
3,0.168888,154,36,725000,500000.0,52000.0,1049,68597,55,91666.67,0.269824,493558,1,0,0,1,1,1,25,400000.0,0.0,63796.5,0.0,0.0,0.0,2,1,2,2,3,1,2,1,2,1,2,1,2,1,1,0.0,139003.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,0.255776,194,48,617000,400000.0,35400.0,1049,38493,48,12500.00,0.430084,754137,0,0,1,1,1,1,119,465000.0,8000.0,58100.0,0.0,0.0,23.0,2,1,2,2,7,1,1,2,1,2,1,3,2,1,1,0.0,254296.0,0.0,265000.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
train_dataset.shape , test_dataset.shape

((128654, 92), (14745, 91))

In [ ]:
y = train_dataset['top_up_class']
X = train_dataset.drop('top_up_class',axis=1)
print(X.shape,y.shape)

(128654, 91) (128654,)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(102923, 91) (25731, 91) (102923,) (25731,)

In [ ]:
sc = StandardScaler()
X_train_st = sc.fit_transform(X_train)
X_test_st = sc.transform(X_test)

In [ ]:
estimators_st = {
    'Logistic Regression': [LogisticRegression()],
    'KNN' :[KNeighborsClassifier()],
    'Decision Tree' :[DecisionTreeClassifier()],
    'Random Forest' :[RandomForestClassifier()],
    'Gradient Boosting':[GradientBoostingClassifier()],
    'XG Boost': [XGBClassifier()],
    'LGBM':[LGBMClassifier()],
    'Cat Boost':[CatBoostClassifier(verbose=0, n_estimators=1000)],
}

#writing a function to fit models above to the train dataset
def mfit(estimators_st, X_train, y_train):
    for m in estimators_st:
        estimators_st[m][0].fit(X_train, y_train)
        print(m+' fitted')

mfit(estimators_st, X_train_st, y_train)

def mpredict(estimators_st, X_test_st, y_test):
    outcome = dict()
    for m in estimators_st:
        y_pred = estimators_st[m][0].predict(X_test_st)
        outcome[m] = [metrics.f1_score(y_test,y_pred,average='macro'),
                      metrics.accuracy_score(y_test,y_pred),
                      metrics.classification_report(y_test,y_pred)]
    return outcome


outcome_st = mpredict(estimators_st, X_test_st, y_test)

for m in outcome_st:
    print('------------------------'+m+'------------------------')
    print('F1 Score', round(outcome_st[m][0],4))
    print('Accuracy Score', round(outcome_st[m][1],4))
    print('Classification report \n ')
    print(outcome_st[m][2])
    print('\n')

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Logistic Regression fitted
KNN fitted
Decision Tree fitted
Random Forest fitted
Gradient Boosting fitted
XG Boost fitted
LGBM fitted
Cat Boost fitted

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

------------------------Logistic Regression------------------------
F1 Score 0.1791
Accuracy Score 0.8295
Classification report

              precision    recall  f1-score   support

           0       0.84      0.99      0.91     21279
           1       0.50      0.12      0.20      1642
           2       0.05      0.00      0.00       761
           3       0.34      0.04      0.06       683
           4       0.36      0.01      0.03       663
           5       0.28      0.03      0.06       502
           6       0.00      0.00      0.00       201

    accuracy                           0.83     25731
   macro avg       0.34      0.17      0.18     25731
weighted avg       0.75      0.83      0.77     25731



------------------------KNN------------------------
F1 Score 0.1948
Accuracy Score 0.822
Classification report

              precision    recall  f1-score   support

           0       0.85      0.98      0.91     21279
           1       0.39      0.18      0.24      1642
           2       0.19      0.03      0.06       761
           3       0.19      0.05      0.08       683
           4       0.17      0.03      0.04       663
           5       0.21      0.02      0.03       502
           6       0.00      0.00      0.00       201

    accuracy                           0.82     25731
   macro avg       0.28      0.18      0.19     25731
weighted avg       0.74      0.82      0.77     25731



------------------------Decision Tree------------------------
F1 Score 0.2754
Accuracy Score 0.7582
Classification report

              precision    recall  f1-score   support

           0       0.89      0.87      0.88     21279
           1       0.29      0.33      0.31      1642
           2       0.11      0.13      0.12       761
           3       0.19      0.20      0.20       683
           4       0.17      0.18      0.17       663
           5       0.15      0.17      0.16       502
           6       0.09      0.09      0.09       201

    accuracy                           0.76     25731
   macro avg       0.27      0.28      0.28     25731
weighted avg       0.77      0.76      0.76     25731



------------------------Random Forest------------------------
F1 Score 0.2569
Accuracy Score 0.844
Classification report

              precision    recall  f1-score   support

           0       0.85      0.99      0.92     21279
           1       0.67      0.22      0.33      1642
           2       0.50      0.02      0.04       761
           3       0.57      0.12      0.20       683
           4       0.50      0.08      0.14       663
           5       0.55      0.08      0.14       502
           6       0.33      0.01      0.03       201

    accuracy                           0.84     25731
   macro avg       0.57      0.22      0.26     25731
weighted avg       0.80      0.84      0.79     25731



------------------------Gradient Boosting------------------------
F1 Score 0.2644
Accuracy Score 0.8421
Classification report

              precision    recall  f1-score   support

           0       0.85      0.99      0.92     21279
           1       0.62      0.23      0.34      1642
           2       0.30      0.01      0.02       761
           3       0.49      0.12      0.19       683
           4       0.55      0.09      0.16       663
           5       0.48      0.10      0.17       502
           6       0.30      0.03      0.06       201

    accuracy                           0.84     25731
   macro avg       0.51      0.23      0.26     25731
weighted avg       0.79      0.84      0.79     25731



------------------------XG Boost------------------------
F1 Score 0.2051
Accuracy Score 0.8381
Classification report

              precision    recall  f1-score   support

           0       0.84      1.00      0.91     21279
           1       0.66      0.18      0.28      1642
           2       0.00      0.00      0.00       761
           3       0.62      0.04      0.08       683
           4       0.60      0.03      0.05       663
           5       0.59      0.05      0.10       502
           6       0.25      0.00      0.01       201

    accuracy                           0.84     25731
   macro avg       0.51      0.19      0.21     25731
weighted avg       0.78      0.84      0.78     25731



------------------------LGBM------------------------
F1 Score 0.3279
Accuracy Score 0.8494
Classification report

              precision    recall  f1-score   support

           0       0.87      0.99      0.92     21279
           1       0.61      0.31      0.41      1642
           2       0.39      0.04      0.07       761
           3       0.53      0.19      0.28       683
           4       0.59      0.14      0.22       663
           5       0.49      0.18      0.26       502
           6       0.37      0.08      0.13       201

    accuracy                           0.85     25731
   macro avg       0.55      0.27      0.33     25731
weighted avg       0.81      0.85      0.81     25731



------------------------Cat Boost------------------------
F1 Score 0.3113
Accuracy Score 0.8477
Classification report

              precision    recall  f1-score   support

           0       0.87      0.99      0.92     21279
           1       0.59      0.31      0.41      1642
           2       0.36      0.04      0.08       761
           3       0.48      0.17      0.25       683
           4       0.51      0.14      0.22       663
           5       0.45      0.16      0.23       502
           6       0.33      0.04      0.07       201

    accuracy                           0.85     25731
   macro avg       0.51      0.26      0.31     25731
weighted avg       0.80      0.85      0.81     25731

In [ ]:
y = train_dataset['top_up_class']
X = train_dataset.drop('top_up_class',axis=1)
print(X.shape,y.shape)

(128654, 91) (128654,)

In [ ]:
sc = StandardScaler()
X_st = sc.fit_transform(X)
test_final_st = sc.transform(test_dataset)

In [ ]:
model_lgbm_final_submit = LGBMClassifier()
model_lgbm_final_submit = model_lgbm_final_submit.fit(X_st,y)

y_pred = model_lgbm_final_submit.predict(test_final_st)
top_up_class_label_dict = {
    0:'No Top-up Service',
    1:' > 48 Months',
    2:'36-48 Months',
    3:'24-30 Months',
    4:'30-36 Months',
    5:'18-24 Months',
    6:'12-18 Months'
}
submission_df = pd.read_excel('/content/drive/MyDrive/LTFS_Top_up/test_Data.xlsx')
submission_df['Pred'] = list(y_pred)
sub = submission_df[['ID','Pred']]
sub.columns = ['ID','Top-up Month']
sub['Top-up Month_Final'] = sub['Top-up Month'].map(top_up_class_label_dict)
sub = sub.drop('Top-up Month',axis=1)
sub.columns = ['ID','Top-up Month']
sub['Top-up Month'].value_counts()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

No Top-up Service    14228
 > 48 Months           411
24-30 Months            36
30-36 Months            25
36-48 Months            24
18-24 Months            17
12-18 Months             4
Name: Top-up Month, dtype: int64

In [ ]:
sub.to_csv('submit_lgbm_rank_top_dummies_enc.csv',index=False)

#### Training on Value Count Encc

In [ ]:
train_dataset = pd.read_excel('/content/drive/MyDrive/LTFS_Top_up/Final/Final Dataset for Training/train_data_final_bur_combined_only_value_count_cat_enc.xlsx')
train_dataset.head()

,Unnamed: 0,PaymentMode,BranchID,Tenure,AssetCost,AmountFinance,EMI,ManufacturerID,SupplierID,AGE,MonthlyIncome,State,ZiPCODE,top_up_class,Frequency_Half Yearly,Frequency_Monthly,Frequency_Quatrly,InstlmentMode_Arrear,LoanStatus_Closed,SEX_M,ID,DISBURSED-AMT/HIGH CREDIT_Median,INSTALLMENT-AMT_Median,CURRENT-BAL_Median,OVERDUE-AMT_Median,WRITE-OFF-AMT_Median,TENURE_Median,SELF-INDICATOR_Bureau_Traits_Total_Count,SELF-INDICATOR_Top_value_freq,MATCH-TYPE_Top_value_freq,ACCT-TYPE_Unique_count,ACCT-TYPE_Top_value,ACCT-TYPE_Top_value_freq,ACCT-TYPE_unique_values,CONTRIBUTOR-TYPE_Unique_count,CONTRIBUTOR-TYPE_Top_value,CONTRIBUTOR-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_unique_values,OWNERSHIP-IND_Unique_count,OWNERSHIP-IND_Top_value_freq,OWNERSHIP-IND_unique_values,ACCOUNT-STATUS_Unique_count,ACCOUNT-STATUS_Top_value_freq,ACCOUNT-STATUS_unique_values,DPD_Hist_Median_Median,CUR BAL-Hist_Median_Median,AMT OVERDUE - HIST_Median_Median,AMT PAID - HIST_Median_Median,SELF-INDICATOR_Top_value_True,SELF-INDICATOR_unique_values_True,SELF-INDICATOR_unique_values_True False,MATCH-TYPE_Top_value_SECONDARY,MATCH-TYPE_unique_values_PRIMARY SECONDARY,MATCH-TYPE_unique_values_SECONDARY,OWNERSHIP-IND_Top_value_Individual,OWNERSHIP-IND_Top_value_Joint,OWNERSHIP-IND_Top_value_Primary,OWNERSHIP-IND_Top_value_Supl Card Holder,ACCOUNT-STATUS_Top_value_Closed,ACCOUNT-STATUS_Top_value_Delinquent,ACCOUNT-STATUS_Top_value_Restructured,ACCOUNT-STATUS_Top_value_SUIT FILED (WILFUL DEFAULT),ACCOUNT-STATUS_Top_value_Settled,ACCOUNT-STATUS_Top_value_Suit Filed,ACCOUNT-STATUS_Top_value_WILFUL DEFAULT,ACCOUNT-STATUS_Top_value_Written Off
0,0,0.186877,1,48,450000,275000.0,24000.0,1568,21946,49,35833.33,0.425187,464993,1,0,1,0,1,1,1,1,275000.0,0.0,0.0,0.0,0.0,0.0,9,5,9,4,3140,5,13,2,95479,5,26367,1,9,104533,3,5,16610,0.0,125115.50,615.0,0.0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
1,1,0.255776,333,47,485000,350000.0,10500.0,1062,34802,23,666.67,0.425187,466001,0,0,1,0,0,1,1,2,700000.0,0.0,52421.0,0.0,0.0,35.0,13,12,13,7,1961,4,1,2,95479,7,13997,2,9,14151,2,7,47116,0.0,334547.50,0.0,0.0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,2,0.668451,1,68,690000,519728.0,38300.0,1060,127335,39,45257.00,0.425187,462030,6,0,0,1,1,0,1,3,44000.0,0.0,0.0,0.0,0.0,0.0,31,29,31,8,13746,8,1,5,6842,13,26,3,26,7053,3,19,16610,0.0,30303.00,0.0,0.0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
3,3,0.168888,125,48,480000,400000.0,11600.0,1060,25094,24,20833.33,0.425187,473335,1,0,1,0,0,1,1,7,315000.0,0.0,0.0,0.0,0.0,5.0,4,2,4,2,80864,3,661,1,95479,4,68493,1,4,104533,2,2,47116,0.0,195207.75,0.0,0.0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
4,4,0.168888,152,44,619265,440000.0,15000.0,1046,21853,56,27313.67,0.269824,495442,2,0,1,0,1,1,1,8,200000.0,0.0,6989.0,0.0,0.0,42.0,7,6,7,3,80864,4,50,3,95479,4,11477,3,3,7053,4,3,10,0.0,172109.00,0.0,0.0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
train_dataset = train_dataset.iloc[:,1:]
train_dataset.head()

,PaymentMode,BranchID,Tenure,AssetCost,AmountFinance,EMI,ManufacturerID,SupplierID,AGE,MonthlyIncome,State,ZiPCODE,top_up_class,Frequency_Half Yearly,Frequency_Monthly,Frequency_Quatrly,InstlmentMode_Arrear,LoanStatus_Closed,SEX_M,ID,DISBURSED-AMT/HIGH CREDIT_Median,INSTALLMENT-AMT_Median,CURRENT-BAL_Median,OVERDUE-AMT_Median,WRITE-OFF-AMT_Median,TENURE_Median,SELF-INDICATOR_Bureau_Traits_Total_Count,SELF-INDICATOR_Top_value_freq,MATCH-TYPE_Top_value_freq,ACCT-TYPE_Unique_count,ACCT-TYPE_Top_value,ACCT-TYPE_Top_value_freq,ACCT-TYPE_unique_values,CONTRIBUTOR-TYPE_Unique_count,CONTRIBUTOR-TYPE_Top_value,CONTRIBUTOR-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_unique_values,OWNERSHIP-IND_Unique_count,OWNERSHIP-IND_Top_value_freq,OWNERSHIP-IND_unique_values,ACCOUNT-STATUS_Unique_count,ACCOUNT-STATUS_Top_value_freq,ACCOUNT-STATUS_unique_values,DPD_Hist_Median_Median,CUR BAL-Hist_Median_Median,AMT OVERDUE - HIST_Median_Median,AMT PAID - HIST_Median_Median,SELF-INDICATOR_Top_value_True,SELF-INDICATOR_unique_values_True,SELF-INDICATOR_unique_values_True False,MATCH-TYPE_Top_value_SECONDARY,MATCH-TYPE_unique_values_PRIMARY SECONDARY,MATCH-TYPE_unique_values_SECONDARY,OWNERSHIP-IND_Top_value_Individual,OWNERSHIP-IND_Top_value_Joint,OWNERSHIP-IND_Top_value_Primary,OWNERSHIP-IND_Top_value_Supl Card Holder,ACCOUNT-STATUS_Top_value_Closed,ACCOUNT-STATUS_Top_value_Delinquent,ACCOUNT-STATUS_Top_value_Restructured,ACCOUNT-STATUS_Top_value_SUIT FILED (WILFUL DEFAULT),ACCOUNT-STATUS_Top_value_Settled,ACCOUNT-STATUS_Top_value_Suit Filed,ACCOUNT-STATUS_Top_value_WILFUL DEFAULT,ACCOUNT-STATUS_Top_value_Written Off
0,0.186877,1,48,450000,275000.0,24000.0,1568,21946,49,35833.33,0.425187,464993,1,0,1,0,1,1,1,1,275000.0,0.0,0.0,0.0,0.0,0.0,9,5,9,4,3140,5,13,2,95479,5,26367,1,9,104533,3,5,16610,0.0,125115.50,615.0,0.0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
1,0.255776,333,47,485000,350000.0,10500.0,1062,34802,23,666.67,0.425187,466001,0,0,1,0,0,1,1,2,700000.0,0.0,52421.0,0.0,0.0,35.0,13,12,13,7,1961,4,1,2,95479,7,13997,2,9,14151,2,7,47116,0.0,334547.50,0.0,0.0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,0.668451,1,68,690000,519728.0,38300.0,1060,127335,39,45257.00,0.425187,462030,6,0,0,1,1,0,1,3,44000.0,0.0,0.0,0.0,0.0,0.0,31,29,31,8,13746,8,1,5,6842,13,26,3,26,7053,3,19,16610,0.0,30303.00,0.0,0.0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
3,0.168888,125,48,480000,400000.0,11600.0,1060,25094,24,20833.33,0.425187,473335,1,0,1,0,0,1,1,7,315000.0,0.0,0.0,0.0,0.0,5.0,4,2,4,2,80864,3,661,1,95479,4,68493,1,4,104533,2,2,47116,0.0,195207.75,0.0,0.0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
4,0.168888,152,44,619265,440000.0,15000.0,1046,21853,56,27313.67,0.269824,495442,2,0,1,0,1,1,1,8,200000.0,0.0,6989.0,0.0,0.0,42.0,7,6,7,3,80864,4,50,3,95479,4,11477,3,3,7053,4,3,10,0.0,172109.00,0.0,0.0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
test_dataset = pd.read_excel('/content/drive/MyDrive/LTFS_Top_up/Final/Final Dataset for Training/test_data_final_bur_combined_only_value_count_cat_enc.xlsx')
test_dataset.head()

,Unnamed: 0,PaymentMode,BranchID,Tenure,AssetCost,AmountFinance,EMI,ManufacturerID,SupplierID,AGE,MonthlyIncome,State,ZiPCODE,Frequency_Half Yearly,Frequency_Monthly,Frequency_Quatrly,InstlmentMode_Arrear,LoanStatus_Closed,SEX_M,ID,DISBURSED-AMT/HIGH CREDIT_Median,INSTALLMENT-AMT_Median,CURRENT-BAL_Median,OVERDUE-AMT_Median,WRITE-OFF-AMT_Median,TENURE_Median,SELF-INDICATOR_Bureau_Traits_Total_Count,SELF-INDICATOR_Top_value_freq,MATCH-TYPE_Top_value_freq,ACCT-TYPE_Unique_count,ACCT-TYPE_Top_value,ACCT-TYPE_Top_value_freq,ACCT-TYPE_unique_values,CONTRIBUTOR-TYPE_Unique_count,CONTRIBUTOR-TYPE_Top_value,CONTRIBUTOR-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_unique_values,OWNERSHIP-IND_Unique_count,OWNERSHIP-IND_Top_value_freq,OWNERSHIP-IND_unique_values,ACCOUNT-STATUS_Unique_count,ACCOUNT-STATUS_Top_value_freq,ACCOUNT-STATUS_unique_values,DPD_Hist_Median_Median,CUR BAL-Hist_Median_Median,AMT OVERDUE - HIST_Median_Median,AMT PAID - HIST_Median_Median,SELF-INDICATOR_Top_value_True,SELF-INDICATOR_unique_values_True,SELF-INDICATOR_unique_values_True False,MATCH-TYPE_Top_value_SECONDARY,MATCH-TYPE_unique_values_PRIMARY SECONDARY,MATCH-TYPE_unique_values_SECONDARY,OWNERSHIP-IND_Top_value_Individual,OWNERSHIP-IND_Top_value_Joint,OWNERSHIP-IND_Top_value_Primary,OWNERSHIP-IND_Top_value_Supl Card Holder,ACCOUNT-STATUS_Top_value_Closed,ACCOUNT-STATUS_Top_value_Delinquent,ACCOUNT-STATUS_Top_value_Restructured,ACCOUNT-STATUS_Top_value_SUIT FILED (WILFUL DEFAULT),ACCOUNT-STATUS_Top_value_Settled,ACCOUNT-STATUS_Top_value_Suit Filed,ACCOUNT-STATUS_Top_value_WILFUL DEFAULT,ACCOUNT-STATUS_Top_value_Written Off
0,0,0.186877,2,46,480000,365000.0,1000.0,1046,22354,50,32069.00,0.425187,473001,0,1,0,0,1,1,4,232000.0,611.5,42023.5,0.0,0.0,60.0,4,3,4,4,80864,1,2,3,362,2,9,2,2,15784,2,3,47116,0.0,132597.5,0.0,0.0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,1,0.255776,2,45,480000,285000.0,9300.0,1046,22354,35,25000.00,0.425187,473001,0,1,0,0,1,1,5,106008.0,0.0,0.0,0.0,0.0,0.0,8,7,8,5,13746,3,4,4,95479,3,16,2,6,15784,2,6,47116,0.0,98453.5,0.0,0.0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
2,2,0.255776,2,48,580000,400000.0,35800.0,1060,65929,37,23333.33,0.425187,473001,0,0,1,1,1,1,6,230000.0,0.0,0.0,0.0,0.0,9.5,12,10,12,4,3140,7,23,2,95479,11,13997,3,6,7053,2,11,47116,0.0,22018.0,0.0,0.0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
3,3,0.168888,154,36,725000,500000.0,52000.0,1049,68597,55,91666.67,0.269824,493558,1,0,0,1,1,1,25,400000.0,0.0,63796.5,0.0,0.0,0.0,2,1,2,2,13554,1,7102,2,95479,1,26367,1,2,104533,2,1,47116,0.0,139003.0,0.0,0.0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,4,0.255776,194,48,617000,400000.0,35400.0,1049,38493,48,12500.00,0.430084,754137,0,0,1,1,1,1,119,465000.0,8000.0,58100.0,0.0,0.0,23.0,2,1,2,2,3140,1,3332,1,95479,2,68493,2,1,14151,2,1,47116,0.0,254296.0,0.0,265000.0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
test_dataset = test_dataset.iloc[:,1:]
test_dataset.head()

,PaymentMode,BranchID,Tenure,AssetCost,AmountFinance,EMI,ManufacturerID,SupplierID,AGE,MonthlyIncome,State,ZiPCODE,Frequency_Half Yearly,Frequency_Monthly,Frequency_Quatrly,InstlmentMode_Arrear,LoanStatus_Closed,SEX_M,ID,DISBURSED-AMT/HIGH CREDIT_Median,INSTALLMENT-AMT_Median,CURRENT-BAL_Median,OVERDUE-AMT_Median,WRITE-OFF-AMT_Median,TENURE_Median,SELF-INDICATOR_Bureau_Traits_Total_Count,SELF-INDICATOR_Top_value_freq,MATCH-TYPE_Top_value_freq,ACCT-TYPE_Unique_count,ACCT-TYPE_Top_value,ACCT-TYPE_Top_value_freq,ACCT-TYPE_unique_values,CONTRIBUTOR-TYPE_Unique_count,CONTRIBUTOR-TYPE_Top_value,CONTRIBUTOR-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_unique_values,OWNERSHIP-IND_Unique_count,OWNERSHIP-IND_Top_value_freq,OWNERSHIP-IND_unique_values,ACCOUNT-STATUS_Unique_count,ACCOUNT-STATUS_Top_value_freq,ACCOUNT-STATUS_unique_values,DPD_Hist_Median_Median,CUR BAL-Hist_Median_Median,AMT OVERDUE - HIST_Median_Median,AMT PAID - HIST_Median_Median,SELF-INDICATOR_Top_value_True,SELF-INDICATOR_unique_values_True,SELF-INDICATOR_unique_values_True False,MATCH-TYPE_Top_value_SECONDARY,MATCH-TYPE_unique_values_PRIMARY SECONDARY,MATCH-TYPE_unique_values_SECONDARY,OWNERSHIP-IND_Top_value_Individual,OWNERSHIP-IND_Top_value_Joint,OWNERSHIP-IND_Top_value_Primary,OWNERSHIP-IND_Top_value_Supl Card Holder,ACCOUNT-STATUS_Top_value_Closed,ACCOUNT-STATUS_Top_value_Delinquent,ACCOUNT-STATUS_Top_value_Restructured,ACCOUNT-STATUS_Top_value_SUIT FILED (WILFUL DEFAULT),ACCOUNT-STATUS_Top_value_Settled,ACCOUNT-STATUS_Top_value_Suit Filed,ACCOUNT-STATUS_Top_value_WILFUL DEFAULT,ACCOUNT-STATUS_Top_value_Written Off
0,0.186877,2,46,480000,365000.0,1000.0,1046,22354,50,32069.00,0.425187,473001,0,1,0,0,1,1,4,232000.0,611.5,42023.5,0.0,0.0,60.0,4,3,4,4,80864,1,2,3,362,2,9,2,2,15784,2,3,47116,0.0,132597.5,0.0,0.0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,0.255776,2,45,480000,285000.0,9300.0,1046,22354,35,25000.00,0.425187,473001,0,1,0,0,1,1,5,106008.0,0.0,0.0,0.0,0.0,0.0,8,7,8,5,13746,3,4,4,95479,3,16,2,6,15784,2,6,47116,0.0,98453.5,0.0,0.0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
2,0.255776,2,48,580000,400000.0,35800.0,1060,65929,37,23333.33,0.425187,473001,0,0,1,1,1,1,6,230000.0,0.0,0.0,0.0,0.0,9.5,12,10,12,4,3140,7,23,2,95479,11,13997,3,6,7053,2,11,47116,0.0,22018.0,0.0,0.0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
3,0.168888,154,36,725000,500000.0,52000.0,1049,68597,55,91666.67,0.269824,493558,1,0,0,1,1,1,25,400000.0,0.0,63796.5,0.0,0.0,0.0,2,1,2,2,13554,1,7102,2,95479,1,26367,1,2,104533,2,1,47116,0.0,139003.0,0.0,0.0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,0.255776,194,48,617000,400000.0,35400.0,1049,38493,48,12500.00,0.430084,754137,0,0,1,1,1,1,119,465000.0,8000.0,58100.0,0.0,0.0,23.0,2,1,2,2,3140,1,3332,1,95479,2,68493,2,1,14151,2,1,47116,0.0,254296.0,0.0,265000.0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
display(train_dataset.head())
display(test_dataset.head())

,PaymentMode,BranchID,Tenure,AssetCost,AmountFinance,EMI,ManufacturerID,SupplierID,AGE,MonthlyIncome,State,ZiPCODE,top_up_class,Frequency_Half Yearly,Frequency_Monthly,Frequency_Quatrly,InstlmentMode_Arrear,LoanStatus_Closed,SEX_M,ID,DISBURSED-AMT/HIGH CREDIT_Median,INSTALLMENT-AMT_Median,CURRENT-BAL_Median,OVERDUE-AMT_Median,WRITE-OFF-AMT_Median,TENURE_Median,SELF-INDICATOR_Bureau_Traits_Total_Count,SELF-INDICATOR_Top_value_freq,MATCH-TYPE_Top_value_freq,ACCT-TYPE_Unique_count,ACCT-TYPE_Top_value,ACCT-TYPE_Top_value_freq,ACCT-TYPE_unique_values,CONTRIBUTOR-TYPE_Unique_count,CONTRIBUTOR-TYPE_Top_value,CONTRIBUTOR-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_unique_values,OWNERSHIP-IND_Unique_count,OWNERSHIP-IND_Top_value_freq,OWNERSHIP-IND_unique_values,ACCOUNT-STATUS_Unique_count,ACCOUNT-STATUS_Top_value_freq,ACCOUNT-STATUS_unique_values,DPD_Hist_Median_Median,CUR BAL-Hist_Median_Median,AMT OVERDUE - HIST_Median_Median,AMT PAID - HIST_Median_Median,SELF-INDICATOR_Top_value_True,SELF-INDICATOR_unique_values_True,SELF-INDICATOR_unique_values_True False,MATCH-TYPE_Top_value_SECONDARY,MATCH-TYPE_unique_values_PRIMARY SECONDARY,MATCH-TYPE_unique_values_SECONDARY,OWNERSHIP-IND_Top_value_Individual,OWNERSHIP-IND_Top_value_Joint,OWNERSHIP-IND_Top_value_Primary,OWNERSHIP-IND_Top_value_Supl Card Holder,ACCOUNT-STATUS_Top_value_Closed,ACCOUNT-STATUS_Top_value_Delinquent,ACCOUNT-STATUS_Top_value_Restructured,ACCOUNT-STATUS_Top_value_SUIT FILED (WILFUL DEFAULT),ACCOUNT-STATUS_Top_value_Settled,ACCOUNT-STATUS_Top_value_Suit Filed,ACCOUNT-STATUS_Top_value_WILFUL DEFAULT,ACCOUNT-STATUS_Top_value_Written Off
0,0.186877,1,48,450000,275000.0,24000.0,1568,21946,49,35833.33,0.425187,464993,1,0,1,0,1,1,1,1,275000.0,0.0,0.0,0.0,0.0,0.0,9,5,9,4,3140,5,13,2,95479,5,26367,1,9,104533,3,5,16610,0.0,125115.50,615.0,0.0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
1,0.255776,333,47,485000,350000.0,10500.0,1062,34802,23,666.67,0.425187,466001,0,0,1,0,0,1,1,2,700000.0,0.0,52421.0,0.0,0.0,35.0,13,12,13,7,1961,4,1,2,95479,7,13997,2,9,14151,2,7,47116,0.0,334547.50,0.0,0.0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,0.668451,1,68,690000,519728.0,38300.0,1060,127335,39,45257.00,0.425187,462030,6,0,0,1,1,0,1,3,44000.0,0.0,0.0,0.0,0.0,0.0,31,29,31,8,13746,8,1,5,6842,13,26,3,26,7053,3,19,16610,0.0,30303.00,0.0,0.0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
3,0.168888,125,48,480000,400000.0,11600.0,1060,25094,24,20833.33,0.425187,473335,1,0,1,0,0,1,1,7,315000.0,0.0,0.0,0.0,0.0,5.0,4,2,4,2,80864,3,661,1,95479,4,68493,1,4,104533,2,2,47116,0.0,195207.75,0.0,0.0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
4,0.168888,152,44,619265,440000.0,15000.0,1046,21853,56,27313.67,0.269824,495442,2,0,1,0,1,1,1,8,200000.0,0.0,6989.0,0.0,0.0,42.0,7,6,7,3,80864,4,50,3,95479,4,11477,3,3,7053,4,3,10,0.0,172109.00,0.0,0.0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

,PaymentMode,BranchID,Tenure,AssetCost,AmountFinance,EMI,ManufacturerID,SupplierID,AGE,MonthlyIncome,State,ZiPCODE,Frequency_Half Yearly,Frequency_Monthly,Frequency_Quatrly,InstlmentMode_Arrear,LoanStatus_Closed,SEX_M,ID,DISBURSED-AMT/HIGH CREDIT_Median,INSTALLMENT-AMT_Median,CURRENT-BAL_Median,OVERDUE-AMT_Median,WRITE-OFF-AMT_Median,TENURE_Median,SELF-INDICATOR_Bureau_Traits_Total_Count,SELF-INDICATOR_Top_value_freq,MATCH-TYPE_Top_value_freq,ACCT-TYPE_Unique_count,ACCT-TYPE_Top_value,ACCT-TYPE_Top_value_freq,ACCT-TYPE_unique_values,CONTRIBUTOR-TYPE_Unique_count,CONTRIBUTOR-TYPE_Top_value,CONTRIBUTOR-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_unique_values,OWNERSHIP-IND_Unique_count,OWNERSHIP-IND_Top_value_freq,OWNERSHIP-IND_unique_values,ACCOUNT-STATUS_Unique_count,ACCOUNT-STATUS_Top_value_freq,ACCOUNT-STATUS_unique_values,DPD_Hist_Median_Median,CUR BAL-Hist_Median_Median,AMT OVERDUE - HIST_Median_Median,AMT PAID - HIST_Median_Median,SELF-INDICATOR_Top_value_True,SELF-INDICATOR_unique_values_True,SELF-INDICATOR_unique_values_True False,MATCH-TYPE_Top_value_SECONDARY,MATCH-TYPE_unique_values_PRIMARY SECONDARY,MATCH-TYPE_unique_values_SECONDARY,OWNERSHIP-IND_Top_value_Individual,OWNERSHIP-IND_Top_value_Joint,OWNERSHIP-IND_Top_value_Primary,OWNERSHIP-IND_Top_value_Supl Card Holder,ACCOUNT-STATUS_Top_value_Closed,ACCOUNT-STATUS_Top_value_Delinquent,ACCOUNT-STATUS_Top_value_Restructured,ACCOUNT-STATUS_Top_value_SUIT FILED (WILFUL DEFAULT),ACCOUNT-STATUS_Top_value_Settled,ACCOUNT-STATUS_Top_value_Suit Filed,ACCOUNT-STATUS_Top_value_WILFUL DEFAULT,ACCOUNT-STATUS_Top_value_Written Off
0,0.186877,2,46,480000,365000.0,1000.0,1046,22354,50,32069.00,0.425187,473001,0,1,0,0,1,1,4,232000.0,611.5,42023.5,0.0,0.0,60.0,4,3,4,4,80864,1,2,3,362,2,9,2,2,15784,2,3,47116,0.0,132597.5,0.0,0.0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,0.255776,2,45,480000,285000.0,9300.0,1046,22354,35,25000.00,0.425187,473001,0,1,0,0,1,1,5,106008.0,0.0,0.0,0.0,0.0,0.0,8,7,8,5,13746,3,4,4,95479,3,16,2,6,15784,2,6,47116,0.0,98453.5,0.0,0.0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
2,0.255776,2,48,580000,400000.0,35800.0,1060,65929,37,23333.33,0.425187,473001,0,0,1,1,1,1,6,230000.0,0.0,0.0,0.0,0.0,9.5,12,10,12,4,3140,7,23,2,95479,11,13997,3,6,7053,2,11,47116,0.0,22018.0,0.0,0.0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
3,0.168888,154,36,725000,500000.0,52000.0,1049,68597,55,91666.67,0.269824,493558,1,0,0,1,1,1,25,400000.0,0.0,63796.5,0.0,0.0,0.0,2,1,2,2,13554,1,7102,2,95479,1,26367,1,2,104533,2,1,47116,0.0,139003.0,0.0,0.0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,0.255776,194,48,617000,400000.0,35400.0,1049,38493,48,12500.00,0.430084,754137,0,0,1,1,1,1,119,465000.0,8000.0,58100.0,0.0,0.0,23.0,2,1,2,2,3140,1,3332,1,95479,2,68493,2,1,14151,2,1,47116,0.0,254296.0,0.0,265000.0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
train_dataset.shape , test_dataset.shape

((128654, 65), (14745, 64))

In [ ]:
y = train_dataset['top_up_class']
X = train_dataset.drop('top_up_class',axis=1)
print(X.shape,y.shape)

(128654, 64) (128654,)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(102923, 64) (25731, 64) (102923,) (25731,)

In [ ]:
sc = StandardScaler()
X_train_st = sc.fit_transform(X_train)
X_test_st = sc.transform(X_test)

In [ ]:
estimators_st = {
    'Logistic Regression': [LogisticRegression()],
    'KNN' :[KNeighborsClassifier()],
    'Decision Tree' :[DecisionTreeClassifier()],
    'Random Forest' :[RandomForestClassifier()],
    'Gradient Boosting':[GradientBoostingClassifier()],
    'XG Boost': [XGBClassifier()],
    'LGBM':[LGBMClassifier()],
    'Cat Boost':[CatBoostClassifier(verbose=0, n_estimators=1000)],
}

#writing a function to fit models above to the train dataset
def mfit(estimators_st, X_train, y_train):
    for m in estimators_st:
        estimators_st[m][0].fit(X_train, y_train)
        print(m+' fitted')

mfit(estimators_st, X_train_st, y_train)

def mpredict(estimators_st, X_test_st, y_test):
    outcome = dict()
    for m in estimators_st:
        y_pred = estimators_st[m][0].predict(X_test_st)
        outcome[m] = [metrics.f1_score(y_test,y_pred,average='macro'),
                      metrics.accuracy_score(y_test,y_pred),
                      metrics.classification_report(y_test,y_pred)]
    return outcome


outcome_st = mpredict(estimators_st, X_test_st, y_test)

for m in outcome_st:
    print('------------------------'+m+'------------------------')
    print('F1 Score', round(outcome_st[m][0],4))
    print('Accuracy Score', round(outcome_st[m][1],4))
    print('Classification report \n ')
    print(outcome_st[m][2])
    print('\n')

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Logistic Regression fitted
KNN fitted
Decision Tree fitted
Random Forest fitted
Gradient Boosting fitted
XG Boost fitted
LGBM fitted
Cat Boost fitted

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

------------------------Logistic Regression------------------------
F1 Score 0.1724
Accuracy Score 0.828
Classification report

              precision    recall  f1-score   support

           0       0.84      0.99      0.91     21279
           1       0.46      0.11      0.18      1642
           2       0.05      0.00      0.00       761
           3       0.30      0.03      0.06       683
           4       0.30      0.01      0.02       663
           5       0.21      0.02      0.04       502
           6       0.00      0.00      0.00       201

    accuracy                           0.83     25731
   macro avg       0.31      0.17      0.17     25731
weighted avg       0.74      0.83      0.77     25731



------------------------KNN------------------------
F1 Score 0.1987
Accuracy Score 0.822
Classification report

              precision    recall  f1-score   support

           0       0.85      0.98      0.91     21279
           1       0.39      0.18      0.25      1642
           2       0.17      0.03      0.05       761
           3       0.19      0.06      0.09       683
           4       0.26      0.04      0.07       663
           5       0.14      0.02      0.03       502
           6       0.00      0.00      0.00       201

    accuracy                           0.82     25731
   macro avg       0.29      0.19      0.20     25731
weighted avg       0.75      0.82      0.77     25731



------------------------Decision Tree------------------------
F1 Score 0.2734
Accuracy Score 0.7567
Classification report

              precision    recall  f1-score   support

           0       0.89      0.87      0.88     21279
           1       0.29      0.33      0.31      1642
           2       0.11      0.12      0.11       761
           3       0.18      0.20      0.19       683
           4       0.16      0.17      0.17       663
           5       0.17      0.17      0.17       502
           6       0.09      0.10      0.09       201

    accuracy                           0.76     25731
   macro avg       0.27      0.28      0.27     25731
weighted avg       0.77      0.76      0.76     25731



------------------------Random Forest------------------------
F1 Score 0.2594
Accuracy Score 0.8439
Classification report

              precision    recall  f1-score   support

           0       0.85      0.99      0.92     21279
           1       0.66      0.22      0.33      1642
           2       0.46      0.02      0.04       761
           3       0.58      0.13      0.21       683
           4       0.53      0.08      0.15       663
           5       0.52      0.09      0.15       502
           6       0.33      0.01      0.03       201

    accuracy                           0.84     25731
   macro avg       0.56      0.22      0.26     25731
weighted avg       0.80      0.84      0.79     25731



------------------------Gradient Boosting------------------------
F1 Score 0.2651
Accuracy Score 0.8426
Classification report

              precision    recall  f1-score   support

           0       0.85      0.99      0.92     21279
           1       0.61      0.24      0.34      1642
           2       0.33      0.01      0.02       761
           3       0.51      0.12      0.19       683
           4       0.54      0.10      0.16       663
           5       0.48      0.10      0.16       502
           6       0.35      0.03      0.06       201

    accuracy                           0.84     25731
   macro avg       0.53      0.23      0.27     25731
weighted avg       0.80      0.84      0.79     25731



------------------------XG Boost------------------------
F1 Score 0.2122
Accuracy Score 0.8388
Classification report

              precision    recall  f1-score   support

           0       0.84      1.00      0.91     21279
           1       0.65      0.18      0.29      1642
           2       0.00      0.00      0.00       761
           3       0.65      0.06      0.11       683
           4       0.61      0.04      0.07       663
           5       0.57      0.05      0.09       502
           6       0.25      0.00      0.01       201

    accuracy                           0.84     25731
   macro avg       0.51      0.19      0.21     25731
weighted avg       0.79      0.84      0.78     25731



------------------------LGBM------------------------
F1 Score 0.3301
Accuracy Score 0.8494
Classification report

              precision    recall  f1-score   support

           0       0.87      0.99      0.92     21279
           1       0.60      0.31      0.41      1642
           2       0.45      0.05      0.08       761
           3       0.53      0.18      0.27       683
           4       0.59      0.15      0.24       663
           5       0.52      0.18      0.26       502
           6       0.31      0.08      0.13       201

    accuracy                           0.85     25731
   macro avg       0.55      0.28      0.33     25731
weighted avg       0.81      0.85      0.81     25731



------------------------Cat Boost------------------------
F1 Score 0.3105
Accuracy Score 0.8484
Classification report

              precision    recall  f1-score   support

           0       0.87      0.99      0.92     21279
           1       0.61      0.33      0.43      1642
           2       0.33      0.03      0.06       761
           3       0.46      0.16      0.24       683
           4       0.47      0.13      0.20       663
           5       0.43      0.16      0.23       502
           6       0.39      0.05      0.10       201

    accuracy                           0.85     25731
   macro avg       0.51      0.26      0.31     25731
weighted avg       0.80      0.85      0.81     25731

#### Model Training on Mean Values

In [ ]:
train_dataset = pd.read_excel('/content/drive/MyDrive/LTFS_Top_up/Final/Final Dataset for Training/Mean Values Final Dataset/train_data_final_bur_combined_rank_cat_enc_mean.xlsx')
train_dataset.head()

,Unnamed: 0,PaymentMode,BranchID,Tenure,AssetCost,AmountFinance,EMI,ManufacturerID,SupplierID,AGE,MonthlyIncome,State,ZiPCODE,top_up_class,Frequency_Half Yearly,Frequency_Monthly,Frequency_Quatrly,InstlmentMode_Arrear,LoanStatus_Closed,SEX_M,ID,SELF-INDICATOR_Bureau_Traits_Total_Count,SELF-INDICATOR_Top_value,SELF-INDICATOR_Top_value_freq,SELF-INDICATOR_unique_values,MATCH-TYPE_Top_value,MATCH-TYPE_Top_value_freq,MATCH-TYPE_unique_values,ACCT-TYPE_Unique_count,ACCT-TYPE_Top_value,ACCT-TYPE_Top_value_freq,ACCT-TYPE_unique_values,CONTRIBUTOR-TYPE_Unique_count,CONTRIBUTOR-TYPE_Top_value,CONTRIBUTOR-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_unique_values,OWNERSHIP-IND_Unique_count,OWNERSHIP-IND_Top_value,OWNERSHIP-IND_Top_value_freq,OWNERSHIP-IND_unique_values,ACCOUNT-STATUS_Unique_count,ACCOUNT-STATUS_Top_value,ACCOUNT-STATUS_Top_value_freq,ACCOUNT-STATUS_unique_values,DISBURSED-AMT/HIGH CREDIT_Mean,INSTALLMENT-AMT_Mean,CURRENT-BAL_Mean,OVERDUE-AMT_Mean,WRITE-OFF-AMT_Mean,TENURE_Mean,DPD_Hist_Mean_Mean,CUR BAL-Hist_Mean_Mean,AMT OVERDUE - HIST_Mean_Mean,AMT PAID - HIST_Mean_Mean
0,0,0.186877,1,48,450000,275000.0,24000.0,1568,21946,49,35833.33,0.425187,464993,1,0,1,0,1,1,1,1,9,1,5,1,1,9,1,4,7,5,495,2,1,5,2,1,1,9,1,3,1,5,4,2.445947e+05,1037.666667,68725.111111,4208.111111,0.0,13.333333,7.570988,1.333202e+05,4668.511111,0.000000
1,1,0.255776,333,47,485000,350000.0,10500.0,1062,34802,23,666.67,0.425187,466001,0,0,1,0,0,1,1,2,13,2,12,1,1,13,1,7,10,4,4006,2,1,7,3,2,1,9,3,2,2,7,1,1.393622e+06,13404.846154,796112.076923,0.000000,0.0,43.461538,1.209402,1.029354e+06,133.876068,136337.034188
2,2,0.668451,1,68,690000,519728.0,38300.0,1060,127335,39,45257.00,0.425187,462030,6,0,0,1,1,0,1,3,31,2,29,1,1,31,1,8,2,8,2899,5,3,13,54,3,1,26,4,3,1,19,4,1.196248e+05,3078.580645,66618.225806,3338.387097,0.0,14.645161,2.404642,1.549495e+05,1761.551260,5506.888724
3,3,0.168888,125,48,480000,400000.0,11600.0,1060,25094,24,20833.33,0.425187,473335,1,0,1,0,0,1,1,7,4,1,2,1,1,4,1,2,1,3,19,1,1,4,1,1,1,4,1,2,1,2,1,3.181382e+05,1392.750000,156000.000000,0.000000,0.0,8.250000,0.000000,2.810307e+05,0.000000,0.000000
4,4,0.168888,152,44,619265,440000.0,15000.0,1046,21853,56,27313.67,0.269824,495442,2,0,1,0,1,1,1,8,7,2,6,1,1,7,1,3,1,4,162,3,1,4,4,3,1,3,4,4,2,3,44,2.893166e+05,1248.285714,139159.857143,5026.428571,0.0,33.714286,8.797619,2.471944e+05,2114.394236,5653.809524

In [ ]:
train_dataset = train_dataset.iloc[:,1:]
train_dataset.head()

,PaymentMode,BranchID,Tenure,AssetCost,AmountFinance,EMI,ManufacturerID,SupplierID,AGE,MonthlyIncome,State,ZiPCODE,top_up_class,Frequency_Half Yearly,Frequency_Monthly,Frequency_Quatrly,InstlmentMode_Arrear,LoanStatus_Closed,SEX_M,ID,SELF-INDICATOR_Bureau_Traits_Total_Count,SELF-INDICATOR_Top_value,SELF-INDICATOR_Top_value_freq,SELF-INDICATOR_unique_values,MATCH-TYPE_Top_value,MATCH-TYPE_Top_value_freq,MATCH-TYPE_unique_values,ACCT-TYPE_Unique_count,ACCT-TYPE_Top_value,ACCT-TYPE_Top_value_freq,ACCT-TYPE_unique_values,CONTRIBUTOR-TYPE_Unique_count,CONTRIBUTOR-TYPE_Top_value,CONTRIBUTOR-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_unique_values,OWNERSHIP-IND_Unique_count,OWNERSHIP-IND_Top_value,OWNERSHIP-IND_Top_value_freq,OWNERSHIP-IND_unique_values,ACCOUNT-STATUS_Unique_count,ACCOUNT-STATUS_Top_value,ACCOUNT-STATUS_Top_value_freq,ACCOUNT-STATUS_unique_values,DISBURSED-AMT/HIGH CREDIT_Mean,INSTALLMENT-AMT_Mean,CURRENT-BAL_Mean,OVERDUE-AMT_Mean,WRITE-OFF-AMT_Mean,TENURE_Mean,DPD_Hist_Mean_Mean,CUR BAL-Hist_Mean_Mean,AMT OVERDUE - HIST_Mean_Mean,AMT PAID - HIST_Mean_Mean
0,0.186877,1,48,450000,275000.0,24000.0,1568,21946,49,35833.33,0.425187,464993,1,0,1,0,1,1,1,1,9,1,5,1,1,9,1,4,7,5,495,2,1,5,2,1,1,9,1,3,1,5,4,2.445947e+05,1037.666667,68725.111111,4208.111111,0.0,13.333333,7.570988,1.333202e+05,4668.511111,0.000000
1,0.255776,333,47,485000,350000.0,10500.0,1062,34802,23,666.67,0.425187,466001,0,0,1,0,0,1,1,2,13,2,12,1,1,13,1,7,10,4,4006,2,1,7,3,2,1,9,3,2,2,7,1,1.393622e+06,13404.846154,796112.076923,0.000000,0.0,43.461538,1.209402,1.029354e+06,133.876068,136337.034188
2,0.668451,1,68,690000,519728.0,38300.0,1060,127335,39,45257.00,0.425187,462030,6,0,0,1,1,0,1,3,31,2,29,1,1,31,1,8,2,8,2899,5,3,13,54,3,1,26,4,3,1,19,4,1.196248e+05,3078.580645,66618.225806,3338.387097,0.0,14.645161,2.404642,1.549495e+05,1761.551260,5506.888724
3,0.168888,125,48,480000,400000.0,11600.0,1060,25094,24,20833.33,0.425187,473335,1,0,1,0,0,1,1,7,4,1,2,1,1,4,1,2,1,3,19,1,1,4,1,1,1,4,1,2,1,2,1,3.181382e+05,1392.750000,156000.000000,0.000000,0.0,8.250000,0.000000,2.810307e+05,0.000000,0.000000
4,0.168888,152,44,619265,440000.0,15000.0,1046,21853,56,27313.67,0.269824,495442,2,0,1,0,1,1,1,8,7,2,6,1,1,7,1,3,1,4,162,3,1,4,4,3,1,3,4,4,2,3,44,2.893166e+05,1248.285714,139159.857143,5026.428571,0.0,33.714286,8.797619,2.471944e+05,2114.394236,5653.809524

In [ ]:
test_dataset = pd.read_excel('/content/drive/MyDrive/LTFS_Top_up/Final/Final Dataset for Training/Mean Values Final Dataset/test_data_final_bur_combined_rank_cat_enc_mean.xlsx')
test_dataset.head()

,Unnamed: 0,PaymentMode,BranchID,Tenure,AssetCost,AmountFinance,EMI,ManufacturerID,SupplierID,AGE,MonthlyIncome,State,ZiPCODE,Frequency_Half Yearly,Frequency_Monthly,Frequency_Quatrly,InstlmentMode_Arrear,LoanStatus_Closed,SEX_M,ID,SELF-INDICATOR_Bureau_Traits_Total_Count,SELF-INDICATOR_Top_value,SELF-INDICATOR_Top_value_freq,SELF-INDICATOR_unique_values,MATCH-TYPE_Top_value,MATCH-TYPE_Top_value_freq,MATCH-TYPE_unique_values,ACCT-TYPE_Unique_count,ACCT-TYPE_Top_value,ACCT-TYPE_Top_value_freq,ACCT-TYPE_unique_values,CONTRIBUTOR-TYPE_Unique_count,CONTRIBUTOR-TYPE_Top_value,CONTRIBUTOR-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_unique_values,OWNERSHIP-IND_Unique_count,OWNERSHIP-IND_Top_value,OWNERSHIP-IND_Top_value_freq,OWNERSHIP-IND_unique_values,ACCOUNT-STATUS_Unique_count,ACCOUNT-STATUS_Top_value,ACCOUNT-STATUS_Top_value_freq,ACCOUNT-STATUS_unique_values,DISBURSED-AMT/HIGH CREDIT_Mean,INSTALLMENT-AMT_Mean,CURRENT-BAL_Mean,OVERDUE-AMT_Mean,WRITE-OFF-AMT_Mean,TENURE_Mean,DPD_Hist_Mean_Mean,CUR BAL-Hist_Mean_Mean,AMT OVERDUE - HIST_Mean_Mean,AMT PAID - HIST_Mean_Mean
0,0,0.186877,2,46,480000,365000.0,1000.0,1046,22354,50,32069.00,0.425187,473001,0,1,0,0,1,1,4,4,2,3,1,1,4,1,4,1,1,2683,3,6,2,79,2,1,2,2,2,2,3,1,741147.000000,8005.0,547818.500000,0.0,0.0,60.000000,1.403017,641864.840640,651.864532,0.0
1,1,0.255776,2,45,480000,285000.0,9300.0,1046,22354,35,25000.00,0.425187,473001,0,1,0,0,1,1,5,8,2,7,1,1,8,1,5,2,3,1251,4,1,3,65,2,1,6,2,2,1,6,1,242476.625000,1282.5,113403.875000,0.0,0.0,22.500000,2.127743,211590.023324,789.747186,0.0
2,2,0.255776,2,48,580000,400000.0,35800.0,1060,65929,37,23333.33,0.425187,473001,0,0,1,1,1,1,6,12,2,10,1,1,12,1,4,7,7,310,2,1,11,3,3,1,6,4,2,1,11,1,269780.083333,0.0,8566.666667,0.0,0.0,14.083333,6.326831,66122.300453,1864.970541,0.0
3,3,0.168888,154,36,725000,500000.0,52000.0,1049,68597,55,91666.67,0.269824,493558,1,0,0,1,1,1,25,2,1,1,1,1,2,1,2,3,1,2,2,1,1,2,1,1,2,1,2,2,1,1,400000.000000,0.0,63796.500000,0.0,0.0,0.000000,0.000000,163930.644118,0.000000,0.0
4,4,0.255776,194,48,617000,400000.0,35400.0,1049,38493,48,12500.00,0.430084,754137,0,0,1,1,1,1,119,2,1,1,1,1,2,1,2,7,1,5,1,1,2,1,2,2,1,3,2,2,1,1,465000.000000,8000.0,58100.000000,0.0,0.0,23.000000,5.388889,253020.115873,158.800000,265000.0

In [ ]:
test_dataset = test_dataset.iloc[:,1:]
test_dataset.head()

,PaymentMode,BranchID,Tenure,AssetCost,AmountFinance,EMI,ManufacturerID,SupplierID,AGE,MonthlyIncome,State,ZiPCODE,Frequency_Half Yearly,Frequency_Monthly,Frequency_Quatrly,InstlmentMode_Arrear,LoanStatus_Closed,SEX_M,ID,SELF-INDICATOR_Bureau_Traits_Total_Count,SELF-INDICATOR_Top_value,SELF-INDICATOR_Top_value_freq,SELF-INDICATOR_unique_values,MATCH-TYPE_Top_value,MATCH-TYPE_Top_value_freq,MATCH-TYPE_unique_values,ACCT-TYPE_Unique_count,ACCT-TYPE_Top_value,ACCT-TYPE_Top_value_freq,ACCT-TYPE_unique_values,CONTRIBUTOR-TYPE_Unique_count,CONTRIBUTOR-TYPE_Top_value,CONTRIBUTOR-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_unique_values,OWNERSHIP-IND_Unique_count,OWNERSHIP-IND_Top_value,OWNERSHIP-IND_Top_value_freq,OWNERSHIP-IND_unique_values,ACCOUNT-STATUS_Unique_count,ACCOUNT-STATUS_Top_value,ACCOUNT-STATUS_Top_value_freq,ACCOUNT-STATUS_unique_values,DISBURSED-AMT/HIGH CREDIT_Mean,INSTALLMENT-AMT_Mean,CURRENT-BAL_Mean,OVERDUE-AMT_Mean,WRITE-OFF-AMT_Mean,TENURE_Mean,DPD_Hist_Mean_Mean,CUR BAL-Hist_Mean_Mean,AMT OVERDUE - HIST_Mean_Mean,AMT PAID - HIST_Mean_Mean
0,0.186877,2,46,480000,365000.0,1000.0,1046,22354,50,32069.00,0.425187,473001,0,1,0,0,1,1,4,4,2,3,1,1,4,1,4,1,1,2683,3,6,2,79,2,1,2,2,2,2,3,1,741147.000000,8005.0,547818.500000,0.0,0.0,60.000000,1.403017,641864.840640,651.864532,0.0
1,0.255776,2,45,480000,285000.0,9300.0,1046,22354,35,25000.00,0.425187,473001,0,1,0,0,1,1,5,8,2,7,1,1,8,1,5,2,3,1251,4,1,3,65,2,1,6,2,2,1,6,1,242476.625000,1282.5,113403.875000,0.0,0.0,22.500000,2.127743,211590.023324,789.747186,0.0
2,0.255776,2,48,580000,400000.0,35800.0,1060,65929,37,23333.33,0.425187,473001,0,0,1,1,1,1,6,12,2,10,1,1,12,1,4,7,7,310,2,1,11,3,3,1,6,4,2,1,11,1,269780.083333,0.0,8566.666667,0.0,0.0,14.083333,6.326831,66122.300453,1864.970541,0.0
3,0.168888,154,36,725000,500000.0,52000.0,1049,68597,55,91666.67,0.269824,493558,1,0,0,1,1,1,25,2,1,1,1,1,2,1,2,3,1,2,2,1,1,2,1,1,2,1,2,2,1,1,400000.000000,0.0,63796.500000,0.0,0.0,0.000000,0.000000,163930.644118,0.000000,0.0
4,0.255776,194,48,617000,400000.0,35400.0,1049,38493,48,12500.00,0.430084,754137,0,0,1,1,1,1,119,2,1,1,1,1,2,1,2,7,1,5,1,1,2,1,2,2,1,3,2,2,1,1,465000.000000,8000.0,58100.000000,0.0,0.0,23.000000,5.388889,253020.115873,158.800000,265000.0

In [ ]:
display(train_dataset.head())
display(test_dataset.head())

,PaymentMode,BranchID,Tenure,AssetCost,AmountFinance,EMI,ManufacturerID,SupplierID,AGE,MonthlyIncome,State,ZiPCODE,top_up_class,Frequency_Half Yearly,Frequency_Monthly,Frequency_Quatrly,InstlmentMode_Arrear,LoanStatus_Closed,SEX_M,ID,SELF-INDICATOR_Bureau_Traits_Total_Count,SELF-INDICATOR_Top_value,SELF-INDICATOR_Top_value_freq,SELF-INDICATOR_unique_values,MATCH-TYPE_Top_value,MATCH-TYPE_Top_value_freq,MATCH-TYPE_unique_values,ACCT-TYPE_Unique_count,ACCT-TYPE_Top_value,ACCT-TYPE_Top_value_freq,ACCT-TYPE_unique_values,CONTRIBUTOR-TYPE_Unique_count,CONTRIBUTOR-TYPE_Top_value,CONTRIBUTOR-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_unique_values,OWNERSHIP-IND_Unique_count,OWNERSHIP-IND_Top_value,OWNERSHIP-IND_Top_value_freq,OWNERSHIP-IND_unique_values,ACCOUNT-STATUS_Unique_count,ACCOUNT-STATUS_Top_value,ACCOUNT-STATUS_Top_value_freq,ACCOUNT-STATUS_unique_values,DISBURSED-AMT/HIGH CREDIT_Mean,INSTALLMENT-AMT_Mean,CURRENT-BAL_Mean,OVERDUE-AMT_Mean,WRITE-OFF-AMT_Mean,TENURE_Mean,DPD_Hist_Mean_Mean,CUR BAL-Hist_Mean_Mean,AMT OVERDUE - HIST_Mean_Mean,AMT PAID - HIST_Mean_Mean
0,0.186877,1,48,450000,275000.0,24000.0,1568,21946,49,35833.33,0.425187,464993,1,0,1,0,1,1,1,1,9,1,5,1,1,9,1,4,7,5,495,2,1,5,2,1,1,9,1,3,1,5,4,2.445947e+05,1037.666667,68725.111111,4208.111111,0.0,13.333333,7.570988,1.333202e+05,4668.511111,0.000000
1,0.255776,333,47,485000,350000.0,10500.0,1062,34802,23,666.67,0.425187,466001,0,0,1,0,0,1,1,2,13,2,12,1,1,13,1,7,10,4,4006,2,1,7,3,2,1,9,3,2,2,7,1,1.393622e+06,13404.846154,796112.076923,0.000000,0.0,43.461538,1.209402,1.029354e+06,133.876068,136337.034188
2,0.668451,1,68,690000,519728.0,38300.0,1060,127335,39,45257.00,0.425187,462030,6,0,0,1,1,0,1,3,31,2,29,1,1,31,1,8,2,8,2899,5,3,13,54,3,1,26,4,3,1,19,4,1.196248e+05,3078.580645,66618.225806,3338.387097,0.0,14.645161,2.404642,1.549495e+05,1761.551260,5506.888724
3,0.168888,125,48,480000,400000.0,11600.0,1060,25094,24,20833.33,0.425187,473335,1,0,1,0,0,1,1,7,4,1,2,1,1,4,1,2,1,3,19,1,1,4,1,1,1,4,1,2,1,2,1,3.181382e+05,1392.750000,156000.000000,0.000000,0.0,8.250000,0.000000,2.810307e+05,0.000000,0.000000
4,0.168888,152,44,619265,440000.0,15000.0,1046,21853,56,27313.67,0.269824,495442,2,0,1,0,1,1,1,8,7,2,6,1,1,7,1,3,1,4,162,3,1,4,4,3,1,3,4,4,2,3,44,2.893166e+05,1248.285714,139159.857143,5026.428571,0.0,33.714286,8.797619,2.471944e+05,2114.394236,5653.809524

,PaymentMode,BranchID,Tenure,AssetCost,AmountFinance,EMI,ManufacturerID,SupplierID,AGE,MonthlyIncome,State,ZiPCODE,Frequency_Half Yearly,Frequency_Monthly,Frequency_Quatrly,InstlmentMode_Arrear,LoanStatus_Closed,SEX_M,ID,SELF-INDICATOR_Bureau_Traits_Total_Count,SELF-INDICATOR_Top_value,SELF-INDICATOR_Top_value_freq,SELF-INDICATOR_unique_values,MATCH-TYPE_Top_value,MATCH-TYPE_Top_value_freq,MATCH-TYPE_unique_values,ACCT-TYPE_Unique_count,ACCT-TYPE_Top_value,ACCT-TYPE_Top_value_freq,ACCT-TYPE_unique_values,CONTRIBUTOR-TYPE_Unique_count,CONTRIBUTOR-TYPE_Top_value,CONTRIBUTOR-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_unique_values,OWNERSHIP-IND_Unique_count,OWNERSHIP-IND_Top_value,OWNERSHIP-IND_Top_value_freq,OWNERSHIP-IND_unique_values,ACCOUNT-STATUS_Unique_count,ACCOUNT-STATUS_Top_value,ACCOUNT-STATUS_Top_value_freq,ACCOUNT-STATUS_unique_values,DISBURSED-AMT/HIGH CREDIT_Mean,INSTALLMENT-AMT_Mean,CURRENT-BAL_Mean,OVERDUE-AMT_Mean,WRITE-OFF-AMT_Mean,TENURE_Mean,DPD_Hist_Mean_Mean,CUR BAL-Hist_Mean_Mean,AMT OVERDUE - HIST_Mean_Mean,AMT PAID - HIST_Mean_Mean
0,0.186877,2,46,480000,365000.0,1000.0,1046,22354,50,32069.00,0.425187,473001,0,1,0,0,1,1,4,4,2,3,1,1,4,1,4,1,1,2683,3,6,2,79,2,1,2,2,2,2,3,1,741147.000000,8005.0,547818.500000,0.0,0.0,60.000000,1.403017,641864.840640,651.864532,0.0
1,0.255776,2,45,480000,285000.0,9300.0,1046,22354,35,25000.00,0.425187,473001,0,1,0,0,1,1,5,8,2,7,1,1,8,1,5,2,3,1251,4,1,3,65,2,1,6,2,2,1,6,1,242476.625000,1282.5,113403.875000,0.0,0.0,22.500000,2.127743,211590.023324,789.747186,0.0
2,0.255776,2,48,580000,400000.0,35800.0,1060,65929,37,23333.33,0.425187,473001,0,0,1,1,1,1,6,12,2,10,1,1,12,1,4,7,7,310,2,1,11,3,3,1,6,4,2,1,11,1,269780.083333,0.0,8566.666667,0.0,0.0,14.083333,6.326831,66122.300453,1864.970541,0.0
3,0.168888,154,36,725000,500000.0,52000.0,1049,68597,55,91666.67,0.269824,493558,1,0,0,1,1,1,25,2,1,1,1,1,2,1,2,3,1,2,2,1,1,2,1,1,2,1,2,2,1,1,400000.000000,0.0,63796.500000,0.0,0.0,0.000000,0.000000,163930.644118,0.000000,0.0
4,0.255776,194,48,617000,400000.0,35400.0,1049,38493,48,12500.00,0.430084,754137,0,0,1,1,1,1,119,2,1,1,1,1,2,1,2,7,1,5,1,1,2,1,2,2,1,3,2,2,1,1,465000.000000,8000.0,58100.000000,0.0,0.0,23.000000,5.388889,253020.115873,158.800000,265000.0

In [ ]:
train_dataset.shape , test_dataset.shape

((128654, 53), (14745, 52))

In [ ]:
y = train_dataset['top_up_class']
X = train_dataset.drop('top_up_class',axis=1)
print(X.shape,y.shape)

(128654, 52) (128654,)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(102923, 52) (25731, 52) (102923,) (25731,)

In [ ]:
sc = StandardScaler()
X_train_st = sc.fit_transform(X_train)
X_test_st = sc.transform(X_test)

In [ ]:
estimators_st = {
    'Logistic Regression': [LogisticRegression()],
    'KNN' :[KNeighborsClassifier()],
    'Decision Tree' :[DecisionTreeClassifier()],
    'Random Forest' :[RandomForestClassifier()],
    'Gradient Boosting':[GradientBoostingClassifier()],
    'XG Boost': [XGBClassifier()],
    'LGBM':[LGBMClassifier()],
    'Cat Boost':[CatBoostClassifier(verbose=0, n_estimators=1000)],
}

#writing a function to fit models above to the train dataset
def mfit(estimators_st, X_train, y_train):
    for m in estimators_st:
        estimators_st[m][0].fit(X_train, y_train)
        print(m+' fitted')

mfit(estimators_st, X_train_st, y_train)

def mpredict(estimators_st, X_test_st, y_test):
    outcome = dict()
    for m in estimators_st:
        y_pred = estimators_st[m][0].predict(X_test_st)
        outcome[m] = [metrics.f1_score(y_test,y_pred,average='macro'),
                      metrics.accuracy_score(y_test,y_pred),
                      metrics.classification_report(y_test,y_pred)]
    return outcome


outcome_st = mpredict(estimators_st, X_test_st, y_test)

for m in outcome_st:
    print('------------------------'+m+'------------------------')
    print('F1 Score', round(outcome_st[m][0],4))
    print('Accuracy Score', round(outcome_st[m][1],4))
    print('Classification report \n ')
    print(outcome_st[m][2])
    print('\n')

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Logistic Regression fitted
KNN fitted
Decision Tree fitted
Random Forest fitted
Gradient Boosting fitted
XG Boost fitted
LGBM fitted
Cat Boost fitted

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

------------------------Logistic Regression------------------------
F1 Score 0.1735
Accuracy Score 0.8285
Classification report

              precision    recall  f1-score   support

           0       0.84      0.99      0.91     21279
           1       0.46      0.11      0.18      1642
           2       0.00      0.00      0.00       761
           3       0.22      0.02      0.04       683
           4       0.56      0.01      0.01       663
           5       0.30      0.03      0.06       502
           6       0.33      0.00      0.01       201

    accuracy                           0.83     25731
   macro avg       0.39      0.17      0.17     25731
weighted avg       0.75      0.83      0.77     25731



------------------------KNN------------------------
F1 Score 0.1967
Accuracy Score 0.8227
Classification report

              precision    recall  f1-score   support

           0       0.85      0.98      0.91     21279
           1       0.40      0.19      0.25      1642
           2       0.15      0.02      0.04       761
           3       0.20      0.05      0.08       683
           4       0.19      0.03      0.05       663
           5       0.29      0.03      0.05       502
           6       0.00      0.00      0.00       201

    accuracy                           0.82     25731
   macro avg       0.30      0.18      0.20     25731
weighted avg       0.75      0.82      0.77     25731



------------------------Decision Tree------------------------
F1 Score 0.2683
Accuracy Score 0.7547
Classification report

              precision    recall  f1-score   support

           0       0.89      0.87      0.88     21279
           1       0.28      0.31      0.30      1642
           2       0.10      0.12      0.11       761
           3       0.16      0.19      0.17       683
           4       0.15      0.15      0.15       663
           5       0.19      0.19      0.19       502
           6       0.08      0.08      0.08       201

    accuracy                           0.75     25731
   macro avg       0.26      0.27      0.27     25731
weighted avg       0.77      0.75      0.76     25731



------------------------Random Forest------------------------
F1 Score 0.2573
Accuracy Score 0.8438
Classification report

              precision    recall  f1-score   support

           0       0.85      0.99      0.92     21279
           1       0.66      0.21      0.32      1642
           2       0.48      0.02      0.04       761
           3       0.56      0.12      0.19       683
           4       0.52      0.09      0.15       663
           5       0.52      0.09      0.16       502
           6       0.43      0.01      0.03       201

    accuracy                           0.84     25731
   macro avg       0.58      0.22      0.26     25731
weighted avg       0.80      0.84      0.79     25731



------------------------Gradient Boosting------------------------
F1 Score 0.2611
Accuracy Score 0.8417
Classification report

              precision    recall  f1-score   support

           0       0.85      0.99      0.92     21279
           1       0.61      0.23      0.33      1642
           2       0.29      0.00      0.01       761
           3       0.55      0.11      0.19       683
           4       0.52      0.09      0.15       663
           5       0.50      0.11      0.18       502
           6       0.26      0.03      0.05       201

    accuracy                           0.84     25731
   macro avg       0.51      0.22      0.26     25731
weighted avg       0.79      0.84      0.79     25731



------------------------XG Boost------------------------
F1 Score 0.2012
Accuracy Score 0.8374
Classification report

              precision    recall  f1-score   support

           0       0.84      1.00      0.91     21279
           1       0.62      0.18      0.28      1642
           2       0.00      0.00      0.00       761
           3       0.69      0.04      0.07       683
           4       0.66      0.03      0.05       663
           5       0.71      0.05      0.09       502
           6       0.00      0.00      0.00       201

    accuracy                           0.84     25731
   macro avg       0.50      0.18      0.20     25731
weighted avg       0.79      0.84      0.78     25731



------------------------LGBM------------------------
F1 Score 0.3257
Accuracy Score 0.8483
Classification report

              precision    recall  f1-score   support

           0       0.87      0.99      0.92     21279
           1       0.59      0.30      0.40      1642
           2       0.54      0.04      0.07       761
           3       0.55      0.19      0.28       683
           4       0.57      0.12      0.20       663
           5       0.51      0.17      0.25       502
           6       0.38      0.10      0.16       201

    accuracy                           0.85     25731
   macro avg       0.57      0.27      0.33     25731
weighted avg       0.81      0.85      0.81     25731



------------------------Cat Boost------------------------
F1 Score 0.3069
Accuracy Score 0.8473
Classification report

              precision    recall  f1-score   support

           0       0.87      0.99      0.92     21279
           1       0.59      0.31      0.40      1642
           2       0.34      0.03      0.06       761
           3       0.51      0.19      0.28       683
           4       0.53      0.12      0.19       663
           5       0.46      0.18      0.25       502
           6       0.26      0.02      0.05       201

    accuracy                           0.85     25731
   macro avg       0.51      0.26      0.31     25731
weighted avg       0.80      0.85      0.81     25731

In [ ]:
y = train_dataset['top_up_class']
X = train_dataset.drop('top_up_class',axis=1)
print(X.shape,y.shape)

(128654, 52) (128654,)

In [ ]:
sc = StandardScaler()
X_st = sc.fit_transform(X)
test_final_st = sc.transform(test_dataset)

In [ ]:
model_lgbm_final_submit = LGBMClassifier()
model_lgbm_final_submit = model_lgbm_final_submit.fit(X_st,y)

y_pred = model_lgbm_final_submit.predict(test_final_st)
top_up_class_label_dict = {
    0:'No Top-up Service',
    1:' > 48 Months',
    2:'36-48 Months',
    3:'24-30 Months',
    4:'30-36 Months',
    5:'18-24 Months',
    6:'12-18 Months'
}
submission_df = pd.read_excel('/content/drive/MyDrive/LTFS_Top_up/test_Data.xlsx')
submission_df['Pred'] = list(y_pred)
sub = submission_df[['ID','Pred']]
sub.columns = ['ID','Top-up Month']
sub['Top-up Month_Final'] = sub['Top-up Month'].map(top_up_class_label_dict)
sub = sub.drop('Top-up Month',axis=1)
sub.columns = ['ID','Top-up Month']
sub['Top-up Month'].value_counts()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

No Top-up Service    14266
 > 48 Months           390
30-36 Months            25
24-30 Months            24
36-48 Months            17
18-24 Months            15
12-18 Months             8
Name: Top-up Month, dtype: int64

In [ ]:
sub.to_csv('submit_lgbm_rank_top_dummies_enc_mean.csv',index=False)

### Model Training on Rank top 10 dummies mean

In [ ]:
train_dataset = pd.read_excel('/content/drive/MyDrive/LTFS_Top_up/Final/Final Dataset for Training/Mean Values Final Dataset/train_data_final_bur_combined_rank_top_dummies_cat_enc_mean.xlsx')
train_dataset.head()

In [ ]:
train_dataset = train_dataset.iloc[:,1:]
train_dataset.head()

In [ ]:
test_dataset = pd.read_excel('/content/drive/MyDrive/LTFS_Top_up/Final/Final Dataset for Training/Mean Values Final Dataset/test_data_final_bur_combined_rank_top_dummies_cat_enc_mean.xlsx')
test_dataset.head()

In [ ]:
test_dataset = test_dataset.iloc[:,1:]
test_dataset.head()

In [ ]:
display(train_dataset.head())
display(test_dataset.head())

In [ ]:
train_dataset.shape , test_dataset.shape

In [ ]:
y = train_dataset['top_up_class']
X = train_dataset.drop('top_up_class',axis=1)
print(X.shape,y.shape)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

In [ ]:
sc = StandardScaler()
X_train_st = sc.fit_transform(X_train)
X_test_st = sc.transform(X_test)

In [ ]:
estimators_st = {
    'Logistic Regression': [LogisticRegression()],
    'KNN' :[KNeighborsClassifier()],
    'Decision Tree' :[DecisionTreeClassifier()],
    'Random Forest' :[RandomForestClassifier()],
    'Gradient Boosting':[GradientBoostingClassifier()],
    'XG Boost': [XGBClassifier()],
    'LGBM':[LGBMClassifier()],
    'Cat Boost':[CatBoostClassifier(verbose=0, n_estimators=1000)],
}

#writing a function to fit models above to the train dataset
def mfit(estimators_st, X_train, y_train):
    for m in estimators_st:
        estimators_st[m][0].fit(X_train, y_train)
        print(m+' fitted')

mfit(estimators_st, X_train_st, y_train)

def mpredict(estimators_st, X_test_st, y_test):
    outcome = dict()
    for m in estimators_st:
        y_pred = estimators_st[m][0].predict(X_test_st)
        outcome[m] = [metrics.f1_score(y_test,y_pred,average='macro'),
                      metrics.accuracy_score(y_test,y_pred),
                      metrics.classification_report(y_test,y_pred)]
    return outcome


outcome_st = mpredict(estimators_st, X_test_st, y_test)

for m in outcome_st:
    print('------------------------'+m+'------------------------')
    print('F1 Score', round(outcome_st[m][0],4))
    print('Accuracy Score', round(outcome_st[m][1],4))
    print('Classification report \n ')
    print(outcome_st[m][2])
    print('\n')

#### Training on Mean Value Count

In [ ]:
train_dataset = pd.read_excel('/content/drive/MyDrive/LTFS_Top_up/Final/Final Dataset for Training/Mean Values Final Dataset/train_data_final_bur_combined_only_value_count_cat_enc_mean.xlsx')
train_dataset.head()

,Unnamed: 0,PaymentMode,BranchID,Tenure,AssetCost,AmountFinance,EMI,ManufacturerID,SupplierID,AGE,MonthlyIncome,State,ZiPCODE,top_up_class,Frequency_Half Yearly,Frequency_Monthly,Frequency_Quatrly,InstlmentMode_Arrear,LoanStatus_Closed,SEX_M,ID,SELF-INDICATOR_Bureau_Traits_Total_Count,SELF-INDICATOR_Top_value_freq,MATCH-TYPE_Top_value_freq,ACCT-TYPE_Unique_count,ACCT-TYPE_Top_value,ACCT-TYPE_Top_value_freq,ACCT-TYPE_unique_values,CONTRIBUTOR-TYPE_Unique_count,CONTRIBUTOR-TYPE_Top_value,CONTRIBUTOR-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_unique_values,OWNERSHIP-IND_Unique_count,OWNERSHIP-IND_Top_value_freq,OWNERSHIP-IND_unique_values,ACCOUNT-STATUS_Unique_count,ACCOUNT-STATUS_Top_value_freq,ACCOUNT-STATUS_unique_values,DISBURSED-AMT/HIGH CREDIT_Mean,INSTALLMENT-AMT_Mean,CURRENT-BAL_Mean,OVERDUE-AMT_Mean,WRITE-OFF-AMT_Mean,TENURE_Mean,DPD_Hist_Mean_Mean,CUR BAL-Hist_Mean_Mean,AMT OVERDUE - HIST_Mean_Mean,AMT PAID - HIST_Mean_Mean,SELF-INDICATOR_Top_value_True,SELF-INDICATOR_unique_values_True,SELF-INDICATOR_unique_values_True False,MATCH-TYPE_Top_value_SECONDARY,MATCH-TYPE_unique_values_PRIMARY SECONDARY,MATCH-TYPE_unique_values_SECONDARY,OWNERSHIP-IND_Top_value_Individual,OWNERSHIP-IND_Top_value_Joint,OWNERSHIP-IND_Top_value_Primary,OWNERSHIP-IND_Top_value_Supl Card Holder,ACCOUNT-STATUS_Top_value_Closed,ACCOUNT-STATUS_Top_value_Delinquent,ACCOUNT-STATUS_Top_value_Restructured,ACCOUNT-STATUS_Top_value_SUIT FILED (WILFUL DEFAULT),ACCOUNT-STATUS_Top_value_Settled,ACCOUNT-STATUS_Top_value_Suit Filed,ACCOUNT-STATUS_Top_value_WILFUL DEFAULT,ACCOUNT-STATUS_Top_value_Written Off
0,0,0.186877,1,48,450000,275000.0,24000.0,1568,21946,49,35833.33,0.425187,464993,1,0,1,0,1,1,1,1,9,5,9,4,3140,5,13,2,95479,5,26367,1,9,104533,3,5,16610,2.445947e+05,1037.666667,68725.111111,4208.111111,0.0,13.333333,7.570988,1.333202e+05,4668.511111,0.000000,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
1,1,0.255776,333,47,485000,350000.0,10500.0,1062,34802,23,666.67,0.425187,466001,0,0,1,0,0,1,1,2,13,12,13,7,1961,4,1,2,95479,7,13997,2,9,14151,2,7,47116,1.393622e+06,13404.846154,796112.076923,0.000000,0.0,43.461538,1.209402,1.029354e+06,133.876068,136337.034188,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,2,0.668451,1,68,690000,519728.0,38300.0,1060,127335,39,45257.00,0.425187,462030,6,0,0,1,1,0,1,3,31,29,31,8,13746,8,1,5,6842,13,26,3,26,7053,3,19,16610,1.196248e+05,3078.580645,66618.225806,3338.387097,0.0,14.645161,2.404642,1.549495e+05,1761.551260,5506.888724,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
3,3,0.168888,125,48,480000,400000.0,11600.0,1060,25094,24,20833.33,0.425187,473335,1,0,1,0,0,1,1,7,4,2,4,2,80864,3,661,1,95479,4,68493,1,4,104533,2,2,47116,3.181382e+05,1392.750000,156000.000000,0.000000,0.0,8.250000,0.000000,2.810307e+05,0.000000,0.000000,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
4,4,0.168888,152,44,619265,440000.0,15000.0,1046,21853,56,27313.67,0.269824,495442,2,0,1,0,1,1,1,8,7,6,7,3,80864,4,50,3,95479,4,11477,3,3,7053,4,3,10,2.893166e+05,1248.285714,139159.857143,5026.428571,0.0,33.714286,8.797619,2.471944e+05,2114.394236,5653.809524,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
train_dataset = train_dataset.iloc[:,1:]
train_dataset.head()

,PaymentMode,BranchID,Tenure,AssetCost,AmountFinance,EMI,ManufacturerID,SupplierID,AGE,MonthlyIncome,State,ZiPCODE,top_up_class,Frequency_Half Yearly,Frequency_Monthly,Frequency_Quatrly,InstlmentMode_Arrear,LoanStatus_Closed,SEX_M,ID,SELF-INDICATOR_Bureau_Traits_Total_Count,SELF-INDICATOR_Top_value_freq,MATCH-TYPE_Top_value_freq,ACCT-TYPE_Unique_count,ACCT-TYPE_Top_value,ACCT-TYPE_Top_value_freq,ACCT-TYPE_unique_values,CONTRIBUTOR-TYPE_Unique_count,CONTRIBUTOR-TYPE_Top_value,CONTRIBUTOR-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_unique_values,OWNERSHIP-IND_Unique_count,OWNERSHIP-IND_Top_value_freq,OWNERSHIP-IND_unique_values,ACCOUNT-STATUS_Unique_count,ACCOUNT-STATUS_Top_value_freq,ACCOUNT-STATUS_unique_values,DISBURSED-AMT/HIGH CREDIT_Mean,INSTALLMENT-AMT_Mean,CURRENT-BAL_Mean,OVERDUE-AMT_Mean,WRITE-OFF-AMT_Mean,TENURE_Mean,DPD_Hist_Mean_Mean,CUR BAL-Hist_Mean_Mean,AMT OVERDUE - HIST_Mean_Mean,AMT PAID - HIST_Mean_Mean,SELF-INDICATOR_Top_value_True,SELF-INDICATOR_unique_values_True,SELF-INDICATOR_unique_values_True False,MATCH-TYPE_Top_value_SECONDARY,MATCH-TYPE_unique_values_PRIMARY SECONDARY,MATCH-TYPE_unique_values_SECONDARY,OWNERSHIP-IND_Top_value_Individual,OWNERSHIP-IND_Top_value_Joint,OWNERSHIP-IND_Top_value_Primary,OWNERSHIP-IND_Top_value_Supl Card Holder,ACCOUNT-STATUS_Top_value_Closed,ACCOUNT-STATUS_Top_value_Delinquent,ACCOUNT-STATUS_Top_value_Restructured,ACCOUNT-STATUS_Top_value_SUIT FILED (WILFUL DEFAULT),ACCOUNT-STATUS_Top_value_Settled,ACCOUNT-STATUS_Top_value_Suit Filed,ACCOUNT-STATUS_Top_value_WILFUL DEFAULT,ACCOUNT-STATUS_Top_value_Written Off
0,0.186877,1,48,450000,275000.0,24000.0,1568,21946,49,35833.33,0.425187,464993,1,0,1,0,1,1,1,1,9,5,9,4,3140,5,13,2,95479,5,26367,1,9,104533,3,5,16610,2.445947e+05,1037.666667,68725.111111,4208.111111,0.0,13.333333,7.570988,1.333202e+05,4668.511111,0.000000,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
1,0.255776,333,47,485000,350000.0,10500.0,1062,34802,23,666.67,0.425187,466001,0,0,1,0,0,1,1,2,13,12,13,7,1961,4,1,2,95479,7,13997,2,9,14151,2,7,47116,1.393622e+06,13404.846154,796112.076923,0.000000,0.0,43.461538,1.209402,1.029354e+06,133.876068,136337.034188,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,0.668451,1,68,690000,519728.0,38300.0,1060,127335,39,45257.00,0.425187,462030,6,0,0,1,1,0,1,3,31,29,31,8,13746,8,1,5,6842,13,26,3,26,7053,3,19,16610,1.196248e+05,3078.580645,66618.225806,3338.387097,0.0,14.645161,2.404642,1.549495e+05,1761.551260,5506.888724,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
3,0.168888,125,48,480000,400000.0,11600.0,1060,25094,24,20833.33,0.425187,473335,1,0,1,0,0,1,1,7,4,2,4,2,80864,3,661,1,95479,4,68493,1,4,104533,2,2,47116,3.181382e+05,1392.750000,156000.000000,0.000000,0.0,8.250000,0.000000,2.810307e+05,0.000000,0.000000,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
4,0.168888,152,44,619265,440000.0,15000.0,1046,21853,56,27313.67,0.269824,495442,2,0,1,0,1,1,1,8,7,6,7,3,80864,4,50,3,95479,4,11477,3,3,7053,4,3,10,2.893166e+05,1248.285714,139159.857143,5026.428571,0.0,33.714286,8.797619,2.471944e+05,2114.394236,5653.809524,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
test_dataset = pd.read_excel('/content/drive/MyDrive/LTFS_Top_up/Final/Final Dataset for Training/Mean Values Final Dataset/test_data_final_bur_combined_only_value_count_cat_enc_mean.xlsx')
test_dataset.head()

,Unnamed: 0,PaymentMode,BranchID,Tenure,AssetCost,AmountFinance,EMI,ManufacturerID,SupplierID,AGE,MonthlyIncome,State,ZiPCODE,Frequency_Half Yearly,Frequency_Monthly,Frequency_Quatrly,InstlmentMode_Arrear,LoanStatus_Closed,SEX_M,ID,SELF-INDICATOR_Bureau_Traits_Total_Count,SELF-INDICATOR_Top_value_freq,MATCH-TYPE_Top_value_freq,ACCT-TYPE_Unique_count,ACCT-TYPE_Top_value,ACCT-TYPE_Top_value_freq,ACCT-TYPE_unique_values,CONTRIBUTOR-TYPE_Unique_count,CONTRIBUTOR-TYPE_Top_value,CONTRIBUTOR-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_unique_values,OWNERSHIP-IND_Unique_count,OWNERSHIP-IND_Top_value_freq,OWNERSHIP-IND_unique_values,ACCOUNT-STATUS_Unique_count,ACCOUNT-STATUS_Top_value_freq,ACCOUNT-STATUS_unique_values,DISBURSED-AMT/HIGH CREDIT_Mean,INSTALLMENT-AMT_Mean,CURRENT-BAL_Mean,OVERDUE-AMT_Mean,WRITE-OFF-AMT_Mean,TENURE_Mean,DPD_Hist_Mean_Mean,CUR BAL-Hist_Mean_Mean,AMT OVERDUE - HIST_Mean_Mean,AMT PAID - HIST_Mean_Mean,SELF-INDICATOR_Top_value_True,SELF-INDICATOR_unique_values_True,SELF-INDICATOR_unique_values_True False,MATCH-TYPE_Top_value_SECONDARY,MATCH-TYPE_unique_values_PRIMARY SECONDARY,MATCH-TYPE_unique_values_SECONDARY,OWNERSHIP-IND_Top_value_Individual,OWNERSHIP-IND_Top_value_Joint,OWNERSHIP-IND_Top_value_Primary,OWNERSHIP-IND_Top_value_Supl Card Holder,ACCOUNT-STATUS_Top_value_Closed,ACCOUNT-STATUS_Top_value_Delinquent,ACCOUNT-STATUS_Top_value_Restructured,ACCOUNT-STATUS_Top_value_SUIT FILED (WILFUL DEFAULT),ACCOUNT-STATUS_Top_value_Settled,ACCOUNT-STATUS_Top_value_Suit Filed,ACCOUNT-STATUS_Top_value_WILFUL DEFAULT,ACCOUNT-STATUS_Top_value_Written Off
0,0,0.186877,2,46,480000,365000.0,1000.0,1046,22354,50,32069.00,0.425187,473001,0,1,0,0,1,1,4,4,3,4,4,80864,1,2,3,362,2,9,2,2,15784,2,3,47116,741147.000000,8005.0,547818.500000,0.0,0.0,60.000000,1.403017,641864.840640,651.864532,0.0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,1,0.255776,2,45,480000,285000.0,9300.0,1046,22354,35,25000.00,0.425187,473001,0,1,0,0,1,1,5,8,7,8,5,13746,3,4,4,95479,3,16,2,6,15784,2,6,47116,242476.625000,1282.5,113403.875000,0.0,0.0,22.500000,2.127743,211590.023324,789.747186,0.0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
2,2,0.255776,2,48,580000,400000.0,35800.0,1060,65929,37,23333.33,0.425187,473001,0,0,1,1,1,1,6,12,10,12,4,3140,7,23,2,95479,11,13997,3,6,7053,2,11,47116,269780.083333,0.0,8566.666667,0.0,0.0,14.083333,6.326831,66122.300453,1864.970541,0.0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
3,3,0.168888,154,36,725000,500000.0,52000.0,1049,68597,55,91666.67,0.269824,493558,1,0,0,1,1,1,25,2,1,2,2,13554,1,7102,2,95479,1,26367,1,2,104533,2,1,47116,400000.000000,0.0,63796.500000,0.0,0.0,0.000000,0.000000,163930.644118,0.000000,0.0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,4,0.255776,194,48,617000,400000.0,35400.0,1049,38493,48,12500.00,0.430084,754137,0,0,1,1,1,1,119,2,1,2,2,3140,1,3332,1,95479,2,68493,2,1,14151,2,1,47116,465000.000000,8000.0,58100.000000,0.0,0.0,23.000000,5.388889,253020.115873,158.800000,265000.0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
test_dataset = test_dataset.iloc[:,1:]
test_dataset.head()

,PaymentMode,BranchID,Tenure,AssetCost,AmountFinance,EMI,ManufacturerID,SupplierID,AGE,MonthlyIncome,State,ZiPCODE,Frequency_Half Yearly,Frequency_Monthly,Frequency_Quatrly,InstlmentMode_Arrear,LoanStatus_Closed,SEX_M,ID,SELF-INDICATOR_Bureau_Traits_Total_Count,SELF-INDICATOR_Top_value_freq,MATCH-TYPE_Top_value_freq,ACCT-TYPE_Unique_count,ACCT-TYPE_Top_value,ACCT-TYPE_Top_value_freq,ACCT-TYPE_unique_values,CONTRIBUTOR-TYPE_Unique_count,CONTRIBUTOR-TYPE_Top_value,CONTRIBUTOR-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_unique_values,OWNERSHIP-IND_Unique_count,OWNERSHIP-IND_Top_value_freq,OWNERSHIP-IND_unique_values,ACCOUNT-STATUS_Unique_count,ACCOUNT-STATUS_Top_value_freq,ACCOUNT-STATUS_unique_values,DISBURSED-AMT/HIGH CREDIT_Mean,INSTALLMENT-AMT_Mean,CURRENT-BAL_Mean,OVERDUE-AMT_Mean,WRITE-OFF-AMT_Mean,TENURE_Mean,DPD_Hist_Mean_Mean,CUR BAL-Hist_Mean_Mean,AMT OVERDUE - HIST_Mean_Mean,AMT PAID - HIST_Mean_Mean,SELF-INDICATOR_Top_value_True,SELF-INDICATOR_unique_values_True,SELF-INDICATOR_unique_values_True False,MATCH-TYPE_Top_value_SECONDARY,MATCH-TYPE_unique_values_PRIMARY SECONDARY,MATCH-TYPE_unique_values_SECONDARY,OWNERSHIP-IND_Top_value_Individual,OWNERSHIP-IND_Top_value_Joint,OWNERSHIP-IND_Top_value_Primary,OWNERSHIP-IND_Top_value_Supl Card Holder,ACCOUNT-STATUS_Top_value_Closed,ACCOUNT-STATUS_Top_value_Delinquent,ACCOUNT-STATUS_Top_value_Restructured,ACCOUNT-STATUS_Top_value_SUIT FILED (WILFUL DEFAULT),ACCOUNT-STATUS_Top_value_Settled,ACCOUNT-STATUS_Top_value_Suit Filed,ACCOUNT-STATUS_Top_value_WILFUL DEFAULT,ACCOUNT-STATUS_Top_value_Written Off
0,0.186877,2,46,480000,365000.0,1000.0,1046,22354,50,32069.00,0.425187,473001,0,1,0,0,1,1,4,4,3,4,4,80864,1,2,3,362,2,9,2,2,15784,2,3,47116,741147.000000,8005.0,547818.500000,0.0,0.0,60.000000,1.403017,641864.840640,651.864532,0.0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,0.255776,2,45,480000,285000.0,9300.0,1046,22354,35,25000.00,0.425187,473001,0,1,0,0,1,1,5,8,7,8,5,13746,3,4,4,95479,3,16,2,6,15784,2,6,47116,242476.625000,1282.5,113403.875000,0.0,0.0,22.500000,2.127743,211590.023324,789.747186,0.0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
2,0.255776,2,48,580000,400000.0,35800.0,1060,65929,37,23333.33,0.425187,473001,0,0,1,1,1,1,6,12,10,12,4,3140,7,23,2,95479,11,13997,3,6,7053,2,11,47116,269780.083333,0.0,8566.666667,0.0,0.0,14.083333,6.326831,66122.300453,1864.970541,0.0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
3,0.168888,154,36,725000,500000.0,52000.0,1049,68597,55,91666.67,0.269824,493558,1,0,0,1,1,1,25,2,1,2,2,13554,1,7102,2,95479,1,26367,1,2,104533,2,1,47116,400000.000000,0.0,63796.500000,0.0,0.0,0.000000,0.000000,163930.644118,0.000000,0.0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,0.255776,194,48,617000,400000.0,35400.0,1049,38493,48,12500.00,0.430084,754137,0,0,1,1,1,1,119,2,1,2,2,3140,1,3332,1,95479,2,68493,2,1,14151,2,1,47116,465000.000000,8000.0,58100.000000,0.0,0.0,23.000000,5.388889,253020.115873,158.800000,265000.0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
display(train_dataset.head())
display(test_dataset.head())

,PaymentMode,BranchID,Tenure,AssetCost,AmountFinance,EMI,ManufacturerID,SupplierID,AGE,MonthlyIncome,State,ZiPCODE,top_up_class,Frequency_Half Yearly,Frequency_Monthly,Frequency_Quatrly,InstlmentMode_Arrear,LoanStatus_Closed,SEX_M,ID,SELF-INDICATOR_Bureau_Traits_Total_Count,SELF-INDICATOR_Top_value_freq,MATCH-TYPE_Top_value_freq,ACCT-TYPE_Unique_count,ACCT-TYPE_Top_value,ACCT-TYPE_Top_value_freq,ACCT-TYPE_unique_values,CONTRIBUTOR-TYPE_Unique_count,CONTRIBUTOR-TYPE_Top_value,CONTRIBUTOR-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_unique_values,OWNERSHIP-IND_Unique_count,OWNERSHIP-IND_Top_value_freq,OWNERSHIP-IND_unique_values,ACCOUNT-STATUS_Unique_count,ACCOUNT-STATUS_Top_value_freq,ACCOUNT-STATUS_unique_values,DISBURSED-AMT/HIGH CREDIT_Mean,INSTALLMENT-AMT_Mean,CURRENT-BAL_Mean,OVERDUE-AMT_Mean,WRITE-OFF-AMT_Mean,TENURE_Mean,DPD_Hist_Mean_Mean,CUR BAL-Hist_Mean_Mean,AMT OVERDUE - HIST_Mean_Mean,AMT PAID - HIST_Mean_Mean,SELF-INDICATOR_Top_value_True,SELF-INDICATOR_unique_values_True,SELF-INDICATOR_unique_values_True False,MATCH-TYPE_Top_value_SECONDARY,MATCH-TYPE_unique_values_PRIMARY SECONDARY,MATCH-TYPE_unique_values_SECONDARY,OWNERSHIP-IND_Top_value_Individual,OWNERSHIP-IND_Top_value_Joint,OWNERSHIP-IND_Top_value_Primary,OWNERSHIP-IND_Top_value_Supl Card Holder,ACCOUNT-STATUS_Top_value_Closed,ACCOUNT-STATUS_Top_value_Delinquent,ACCOUNT-STATUS_Top_value_Restructured,ACCOUNT-STATUS_Top_value_SUIT FILED (WILFUL DEFAULT),ACCOUNT-STATUS_Top_value_Settled,ACCOUNT-STATUS_Top_value_Suit Filed,ACCOUNT-STATUS_Top_value_WILFUL DEFAULT,ACCOUNT-STATUS_Top_value_Written Off
0,0.186877,1,48,450000,275000.0,24000.0,1568,21946,49,35833.33,0.425187,464993,1,0,1,0,1,1,1,1,9,5,9,4,3140,5,13,2,95479,5,26367,1,9,104533,3,5,16610,2.445947e+05,1037.666667,68725.111111,4208.111111,0.0,13.333333,7.570988,1.333202e+05,4668.511111,0.000000,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
1,0.255776,333,47,485000,350000.0,10500.0,1062,34802,23,666.67,0.425187,466001,0,0,1,0,0,1,1,2,13,12,13,7,1961,4,1,2,95479,7,13997,2,9,14151,2,7,47116,1.393622e+06,13404.846154,796112.076923,0.000000,0.0,43.461538,1.209402,1.029354e+06,133.876068,136337.034188,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,0.668451,1,68,690000,519728.0,38300.0,1060,127335,39,45257.00,0.425187,462030,6,0,0,1,1,0,1,3,31,29,31,8,13746,8,1,5,6842,13,26,3,26,7053,3,19,16610,1.196248e+05,3078.580645,66618.225806,3338.387097,0.0,14.645161,2.404642,1.549495e+05,1761.551260,5506.888724,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
3,0.168888,125,48,480000,400000.0,11600.0,1060,25094,24,20833.33,0.425187,473335,1,0,1,0,0,1,1,7,4,2,4,2,80864,3,661,1,95479,4,68493,1,4,104533,2,2,47116,3.181382e+05,1392.750000,156000.000000,0.000000,0.0,8.250000,0.000000,2.810307e+05,0.000000,0.000000,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
4,0.168888,152,44,619265,440000.0,15000.0,1046,21853,56,27313.67,0.269824,495442,2,0,1,0,1,1,1,8,7,6,7,3,80864,4,50,3,95479,4,11477,3,3,7053,4,3,10,2.893166e+05,1248.285714,139159.857143,5026.428571,0.0,33.714286,8.797619,2.471944e+05,2114.394236,5653.809524,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

,PaymentMode,BranchID,Tenure,AssetCost,AmountFinance,EMI,ManufacturerID,SupplierID,AGE,MonthlyIncome,State,ZiPCODE,Frequency_Half Yearly,Frequency_Monthly,Frequency_Quatrly,InstlmentMode_Arrear,LoanStatus_Closed,SEX_M,ID,SELF-INDICATOR_Bureau_Traits_Total_Count,SELF-INDICATOR_Top_value_freq,MATCH-TYPE_Top_value_freq,ACCT-TYPE_Unique_count,ACCT-TYPE_Top_value,ACCT-TYPE_Top_value_freq,ACCT-TYPE_unique_values,CONTRIBUTOR-TYPE_Unique_count,CONTRIBUTOR-TYPE_Top_value,CONTRIBUTOR-TYPE_Top_value_freq,CONTRIBUTOR-TYPE_unique_values,OWNERSHIP-IND_Unique_count,OWNERSHIP-IND_Top_value_freq,OWNERSHIP-IND_unique_values,ACCOUNT-STATUS_Unique_count,ACCOUNT-STATUS_Top_value_freq,ACCOUNT-STATUS_unique_values,DISBURSED-AMT/HIGH CREDIT_Mean,INSTALLMENT-AMT_Mean,CURRENT-BAL_Mean,OVERDUE-AMT_Mean,WRITE-OFF-AMT_Mean,TENURE_Mean,DPD_Hist_Mean_Mean,CUR BAL-Hist_Mean_Mean,AMT OVERDUE - HIST_Mean_Mean,AMT PAID - HIST_Mean_Mean,SELF-INDICATOR_Top_value_True,SELF-INDICATOR_unique_values_True,SELF-INDICATOR_unique_values_True False,MATCH-TYPE_Top_value_SECONDARY,MATCH-TYPE_unique_values_PRIMARY SECONDARY,MATCH-TYPE_unique_values_SECONDARY,OWNERSHIP-IND_Top_value_Individual,OWNERSHIP-IND_Top_value_Joint,OWNERSHIP-IND_Top_value_Primary,OWNERSHIP-IND_Top_value_Supl Card Holder,ACCOUNT-STATUS_Top_value_Closed,ACCOUNT-STATUS_Top_value_Delinquent,ACCOUNT-STATUS_Top_value_Restructured,ACCOUNT-STATUS_Top_value_SUIT FILED (WILFUL DEFAULT),ACCOUNT-STATUS_Top_value_Settled,ACCOUNT-STATUS_Top_value_Suit Filed,ACCOUNT-STATUS_Top_value_WILFUL DEFAULT,ACCOUNT-STATUS_Top_value_Written Off
0,0.186877,2,46,480000,365000.0,1000.0,1046,22354,50,32069.00,0.425187,473001,0,1,0,0,1,1,4,4,3,4,4,80864,1,2,3,362,2,9,2,2,15784,2,3,47116,741147.000000,8005.0,547818.500000,0.0,0.0,60.000000,1.403017,641864.840640,651.864532,0.0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,0.255776,2,45,480000,285000.0,9300.0,1046,22354,35,25000.00,0.425187,473001,0,1,0,0,1,1,5,8,7,8,5,13746,3,4,4,95479,3,16,2,6,15784,2,6,47116,242476.625000,1282.5,113403.875000,0.0,0.0,22.500000,2.127743,211590.023324,789.747186,0.0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
2,0.255776,2,48,580000,400000.0,35800.0,1060,65929,37,23333.33,0.425187,473001,0,0,1,1,1,1,6,12,10,12,4,3140,7,23,2,95479,11,13997,3,6,7053,2,11,47116,269780.083333,0.0,8566.666667,0.0,0.0,14.083333,6.326831,66122.300453,1864.970541,0.0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
3,0.168888,154,36,725000,500000.0,52000.0,1049,68597,55,91666.67,0.269824,493558,1,0,0,1,1,1,25,2,1,2,2,13554,1,7102,2,95479,1,26367,1,2,104533,2,1,47116,400000.000000,0.0,63796.500000,0.0,0.0,0.000000,0.000000,163930.644118,0.000000,0.0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,0.255776,194,48,617000,400000.0,35400.0,1049,38493,48,12500.00,0.430084,754137,0,0,1,1,1,1,119,2,1,2,2,3140,1,3332,1,95479,2,68493,2,1,14151,2,1,47116,465000.000000,8000.0,58100.000000,0.0,0.0,23.000000,5.388889,253020.115873,158.800000,265000.0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
train_dataset.shape , test_dataset.shape

((128654, 65), (14745, 64))

In [ ]:
y = train_dataset['top_up_class']
X = train_dataset.drop('top_up_class',axis=1)
print(X.shape,y.shape)

(128654, 64) (128654,)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(102923, 64) (25731, 64) (102923,) (25731,)

In [ ]:
sc = StandardScaler()
X_train_st = sc.fit_transform(X_train)
X_test_st = sc.transform(X_test)

In [ ]:
estimators_st = {
    'Logistic Regression': [LogisticRegression()],
    'KNN' :[KNeighborsClassifier()],
    'Decision Tree' :[DecisionTreeClassifier()],
    'Random Forest' :[RandomForestClassifier()],
    'Gradient Boosting':[GradientBoostingClassifier()],
    'XG Boost': [XGBClassifier()],
    'LGBM':[LGBMClassifier()],
    'Cat Boost':[CatBoostClassifier(verbose=0, n_estimators=1000)],
}

#writing a function to fit models above to the train dataset
def mfit(estimators_st, X_train, y_train):
    for m in estimators_st:
        estimators_st[m][0].fit(X_train, y_train)
        print(m+' fitted')

mfit(estimators_st, X_train_st, y_train)

def mpredict(estimators_st, X_test_st, y_test):
    outcome = dict()
    for m in estimators_st:
        y_pred = estimators_st[m][0].predict(X_test_st)
        outcome[m] = [metrics.f1_score(y_test,y_pred,average='macro'),
                      metrics.accuracy_score(y_test,y_pred),
                      metrics.classification_report(y_test,y_pred)]
    return outcome


outcome_st = mpredict(estimators_st, X_test_st, y_test)

for m in outcome_st:
    print('------------------------'+m+'------------------------')
    print('F1 Score', round(outcome_st[m][0],4))
    print('Accuracy Score', round(outcome_st[m][1],4))
    print('Classification report \n ')
    print(outcome_st[m][2])
    print('\n')

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Logistic Regression fitted
KNN fitted
Decision Tree fitted
Random Forest fitted
Gradient Boosting fitted
XG Boost fitted
LGBM fitted
Cat Boost fitted

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

------------------------Logistic Regression------------------------
F1 Score 0.1716
Accuracy Score 0.8281
Classification report

              precision    recall  f1-score   support

           0       0.84      0.99      0.91     21279
           1       0.46      0.12      0.19      1642
           2       0.00      0.00      0.00       761
           3       0.25      0.03      0.05       683
           4       0.35      0.01      0.02       663
           5       0.18      0.02      0.04       502
           6       0.00      0.00      0.00       201

    accuracy                           0.83     25731
   macro avg       0.30      0.17      0.17     25731
weighted avg       0.74      0.83      0.77     25731



------------------------KNN------------------------
F1 Score 0.1991
Accuracy Score 0.8229
Classification report

              precision    recall  f1-score   support

           0       0.85      0.98      0.91     21279
           1       0.40      0.19      0.26      1642
           2       0.18      0.02      0.04       761
           3       0.20      0.06      0.09       683
           4       0.19      0.03      0.05       663
           5       0.22      0.02      0.04       502
           6       0.00      0.00      0.00       201

    accuracy                           0.82     25731
   macro avg       0.29      0.19      0.20     25731
weighted avg       0.75      0.82      0.77     25731



------------------------Decision Tree------------------------
F1 Score 0.2652
Accuracy Score 0.7548
Classification report

              precision    recall  f1-score   support

           0       0.89      0.87      0.88     21279
           1       0.27      0.31      0.29      1642
           2       0.10      0.11      0.10       761
           3       0.17      0.20      0.18       683
           4       0.16      0.16      0.16       663
           5       0.15      0.15      0.15       502
           6       0.09      0.09      0.09       201

    accuracy                           0.75     25731
   macro avg       0.26      0.27      0.27     25731
weighted avg       0.77      0.75      0.76     25731



------------------------Random Forest------------------------
F1 Score 0.2524
Accuracy Score 0.8438
Classification report

              precision    recall  f1-score   support

           0       0.85      0.99      0.92     21279
           1       0.66      0.21      0.32      1642
           2       0.50      0.02      0.04       761
           3       0.57      0.12      0.20       683
           4       0.49      0.08      0.14       663
           5       0.48      0.07      0.13       502
           6       0.25      0.01      0.02       201

    accuracy                           0.84     25731
   macro avg       0.54      0.22      0.25     25731
weighted avg       0.80      0.84      0.79     25731



------------------------Gradient Boosting------------------------
F1 Score 0.2547
Accuracy Score 0.8412
Classification report

              precision    recall  f1-score   support

           0       0.85      0.99      0.92     21279
           1       0.61      0.22      0.33      1642
           2       0.10      0.00      0.00       761
           3       0.51      0.11      0.18       683
           4       0.55      0.08      0.14       663
           5       0.49      0.11      0.18       502
           6       0.17      0.02      0.04       201

    accuracy                           0.84     25731
   macro avg       0.47      0.22      0.25     25731
weighted avg       0.79      0.84      0.79     25731



------------------------XG Boost------------------------
F1 Score 0.2043
Accuracy Score 0.8379
Classification report

              precision    recall  f1-score   support

           0       0.84      1.00      0.91     21279
           1       0.63      0.18      0.28      1642
           2       0.00      0.00      0.00       761
           3       0.65      0.04      0.08       683
           4       0.62      0.03      0.06       663
           5       0.64      0.05      0.10       502
           6       0.00      0.00      0.00       201

    accuracy                           0.84     25731
   macro avg       0.48      0.19      0.20     25731
weighted avg       0.78      0.84      0.78     25731



------------------------LGBM------------------------
F1 Score 0.3224
Accuracy Score 0.848
Classification report

              precision    recall  f1-score   support

           0       0.87      0.99      0.92     21279
           1       0.60      0.30      0.40      1642
           2       0.49      0.03      0.06       761
           3       0.53      0.17      0.26       683
           4       0.57      0.12      0.20       663
           5       0.49      0.17      0.25       502
           6       0.38      0.10      0.16       201

    accuracy                           0.85     25731
   macro avg       0.56      0.27      0.32     25731
weighted avg       0.81      0.85      0.81     25731



------------------------Cat Boost------------------------
F1 Score 0.3055
Accuracy Score 0.8469
Classification report

              precision    recall  f1-score   support

           0       0.87      0.99      0.92     21279
           1       0.59      0.30      0.40      1642
           2       0.35      0.03      0.06       761
           3       0.50      0.17      0.26       683
           4       0.49      0.12      0.19       663
           5       0.44      0.16      0.23       502
           6       0.31      0.04      0.08       201

    accuracy                           0.85     25731
   macro avg       0.51      0.26      0.31     25731
weighted avg       0.80      0.85      0.81     25731

In [ ]:
y = train_dataset['top_up_class']
X = train_dataset.drop('top_up_class',axis=1)
print(X.shape,y.shape)

(128654, 64) (128654,)

In [ ]:
sc = StandardScaler()
X_st = sc.fit_transform(X)
test_final_st = sc.transform(test_dataset)

In [ ]:
model_lgbm_final_submit = DecisionTreeClassifier()
model_lgbm_final_submit = model_lgbm_final_submit.fit(X_st,y)

y_pred = model_lgbm_final_submit.predict(test_final_st)
top_up_class_label_dict = {
    0:'No Top-up Service',
    1:' > 48 Months',
    2:'36-48 Months',
    3:'24-30 Months',
    4:'30-36 Months',
    5:'18-24 Months',
    6:'12-18 Months'
}
submission_df = pd.read_excel('/content/drive/MyDrive/LTFS_Top_up/test_Data.xlsx')
submission_df['Pred'] = list(y_pred)
sub = submission_df[['ID','Pred']]
sub.columns = ['ID','Top-up Month']
sub['Top-up Month_Final'] = sub['Top-up Month'].map(top_up_class_label_dict)
sub = sub.drop('Top-up Month',axis=1)
sub.columns = ['ID','Top-up Month']
sub['Top-up Month'].value_counts()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

No Top-up Service    12198
 > 48 Months          1186
36-48 Months           483
30-36 Months           331
24-30 Months           293
18-24 Months           164
12-18 Months            90
Name: Top-up Month, dtype: int64

In [ ]:
sub.to_csv('submit_dt_only_value_count_enc_mean.csv',index=False)